<p>Интересные факты
</p>
<div class="gt-collection-link-slider gt-slider gt-slider-tram  gt-slider-has-arrow" data-duration = "1000">
    <div class="gt-slider-container">
        <div class="gt-slider-inner">
            <p>
                Запуск фонариков быстро приобрел популярность во всем Таиланде
            </p>
        </div>
        <div class="gt-slider-inner">
            <p>
                Запуск фонариков быстро приобрел популярность во всем Таиланде, объединяя традиции двух
                фестивалей – Лойкратхонг в центральной части и Йи Пэн на севере страны
            </p>
        </div>
        <div class="gt-slider-inner">
            <p>
                Запуск фонариков быстро приобрел популярность во всем Таиланде, объединяя традиции двух
                фестивалей – Лойкратхонг в центральной.
            </p>
        </div>
        <div class="gt-slider-inner">
            <p>
                Запуск фонариков быстро приобрел популярность во всем Таиланде, объединяя традиции двух
                фестивалей – Лойкратхонг в центральной
                части и Йи Пэн на севере страны
                части и Йи Пэн на севере страны
            </p>
        </div>
    </div>

</div>