<div class="gt-text-block gt-black container  gt-margin gt-margin-bottom-not">
    <h2>Транспорт Франции</h2>
</div>
<div class="container gt-margin">
    <div class="gt-tabs gt-tabs-broad">
        <div class="gt-tabs-button-holder">
            <div class="gt-tabs-button">
                <span>Авиасообщение</span>
            </div>
            <div class="gt-tabs-button">
                <span>Железные дороги</span>
            </div>
            <div class="gt-tabs-button">
                <span>Автобусы</span>
            </div>
            <div class="gt-tabs-button">
                <span>Общественный транспорт</span>
            </div>
            <div class="gt-tabs-button">
                <span>Такси </span>
            </div>
            <div class="gt-tabs-button">
                <span>Морской транспорт</span>
            </div>
        </div>
        <div class="gt-main-holder">
            <div class="gt-tabs-main">
                <div class="gt-tabs-main-img gt-img-holder-abs">
                    <img
                            class="lazy"
                            src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
                            data-src= "../assets/images/tab_slider/taxi.png"
                            alt=""
                    >
                </div>
                <div class="gt-tabs-main-text gt-box-shadow">
                    <div class=" gt-inner-scroll  gt-scroll-cursor-custom gt-inner-scroll-tab">
                        <div class="gt-inner-scroll-text">
                            <p>Таможенные правила Франции разрешают свободный вывоз валюты. А вот ввозить можно не более
                                10 тысяч евро – такие ограничения действуют для граждан всех стран, не входящих в
                                Евросоюз. Денежные средства, превышающие 10 тысяч евро подлежат обязательному
                                декларированию. В Парижском аэропорту нет зеленого или красного коридора для прохода
                                таможни. Два-три таможенника стоят у выхода из зала багажа и осуществляют так называемый
                                "выборочный контроль".</p>
                            <p>Таможенные правила Франции разрешают свободный вывоз валюты. А вот ввозить можно не более
                                10 тысяч евро – такие ограничения действуют для граждан всех стран, не входящих в
                                Евросоюз. Денежные средства, превышающие 10 тысяч евро подлежат обязательному
                                декларированию. В Парижском аэропорту нет зеленого или красного коридора для прохода
                                таможни. Два-три таможенника стоят у выхода из зала багажа и осуществляют так называемый
                                "выборочный контроль".</p>
                            <p>Таможенные правила Франции разрешают свободный вывоз валюты. А вот ввозить можно не более
                                10 тысяч евро – такие ограничения действуют для граждан всех стран, не входящих в
                                Евросоюз. Денежные средства, превышающие 10 тысяч евро подлежат обязательному
                                декларированию. В Парижском аэропорту нет зеленого или красного коридора для прохода
                                таможни. Два-три таможенника стоят у выхода из зала багажа и осуществляют так называемый
                                "выборочный контроль".</p>
                            <p>Таможенные правила Франции разрешают свободный вывоз валюты. А вот ввозить можно не более
                                10 тысяч евро – такие ограничения действуют для граждан всех стран, не входящих в
                                Евросоюз. Денежные средства, превышающие 10 тысяч евро подлежат обязательному
                                декларированию. В Парижском аэропорту нет зеленого или красного коридора для прохода
                                таможни. Два-три таможенника стоят у выхода из зала багажа и осуществляют так называемый
                                "выборочный контроль".</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gt-tabs-main">
                <div class="gt-tabs-main-img gt-img-holder-abs">
                    <img
                            class="lazy"
                            src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
                            data-src= "../assets/images/big_slider/big-slider-1.png"
                            alt=""
                    >
                </div>
                <div class="gt-tabs-main-text gt-box-shadow">
                    <div class=" gt-inner-scroll  gt-scroll-cursor-custom gt-inner-scroll-tab">
                        <div class="gt-inner-scroll-text">
                            <p>Таможенные правила Франции разрешают свободный вывоз валюты. А вот ввозить можно не более
                                10 тысяч евро – такие ограничения действуют для граждан всех стран, не входящих в
                                Евросоюз. Денежные средства, превышающие 10 тысяч евро подлежат обязательному
                                декларированию. В Парижском аэропорту нет зеленого или красного коридора для прохода
                                таможни. Два-три таможенника стоят у выхода из зала багажа и осуществляют так называемый
                                "выборочный контроль".</p>
                            <p>Таможенные правила Франции разрешают свободный вывоз валюты. А вот ввозить можно не более
                                10 тысяч евро – такие ограничения действуют для граждан всех стран, не входящих в
                                Евросоюз. Денежные средства, превышающие 10 тысяч евро подлежат обязательному
                                декларированию. В Парижском аэропорту нет зеленого или красного коридора для прохода
                                таможни. Два-три таможенника стоят у выхода из зала багажа и осуществляют так называемый
                                "выборочный контроль".</p>
                            <p>Таможенные правила Франции разрешают свободный вывоз валюты. А вот ввозить можно не более
                                10 тысяч евро – такие ограничения действуют для граждан всех стран, не входящих в
                                Евросоюз. Денежные средства, превышающие 10 тысяч евро подлежат обязательному
                                декларированию. В Парижском аэропорту нет зеленого или красного коридора для прохода
                                таможни. Два-три таможенника стоят у выхода из зала багажа и осуществляют так называемый
                                "выборочный контроль".</p>
                            <p>Таможенные правила Франции разрешают свободный вывоз валюты. А вот ввозить можно не более
                                10 тысяч евро – такие ограничения действуют для граждан всех стран, не входящих в
                                Евросоюз. Денежные средства, превышающие 10 тысяч евро подлежат обязательному
                                декларированию. В Парижском аэропорту нет зеленого или красного коридора для прохода
                                таможни. Два-три таможенника стоят у выхода из зала багажа и осуществляют так называемый
                                "выборочный контроль".</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gt-tabs-main">
                <div class="gt-tabs-main-img gt-img-holder-abs">
                    <img
                            class="lazy"
                            src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
                            data-src= "../assets/images/gaudi_slider/casa-mila-01.png"
                            alt=""
                    >
                </div>
                <div class="gt-tabs-main-text gt-box-shadow">
                    <div class=" gt-inner-scroll  gt-scroll-cursor-custom gt-inner-scroll-tab">
                        <div class="gt-inner-scroll-text">
                            <p>Таможенные правила Франции разрешают свободный вывоз валюты. А вот ввозить можно не более
                                10 тысяч евро – такие ограничения действуют для граждан всех стран, не входящих в
                                Евросоюз. Денежные средства, превышающие 10 тысяч евро подлежат обязательному
                                декларированию. В Парижском аэропорту нет зеленого или красного коридора для прохода
                                таможни. Два-три таможенника стоят у выхода из зала багажа и осуществляют так называемый
                                "выборочный контроль".</p>
                            <p>Таможенные правила Франции разрешают свободный вывоз валюты. А вот ввозить можно не более
                                10 тысяч евро – такие ограничения действуют для граждан всех стран, не входящих в
                                Евросоюз. Денежные средства, превышающие 10 тысяч евро подлежат обязательному
                                декларированию. В Парижском аэропорту нет зеленого или красного коридора для прохода
                                таможни. Два-три таможенника стоят у выхода из зала багажа и осуществляют так называемый
                                "выборочный контроль".</p>
                            <p>Таможенные правила Франции разрешают свободный вывоз валюты. А вот ввозить можно не более
                                10 тысяч евро – такие ограничения действуют для граждан всех стран, не входящих в
                                Евросоюз. Денежные средства, превышающие 10 тысяч евро подлежат обязательному
                                декларированию. В Парижском аэропорту нет зеленого или красного коридора для прохода
                                таможни. Два-три таможенника стоят у выхода из зала багажа и осуществляют так называемый
                                "выборочный контроль".</p>
                            <p>Таможенные правила Франции разрешают свободный вывоз валюты. А вот ввозить можно не более
                                10 тысяч евро – такие ограничения действуют для граждан всех стран, не входящих в
                                Евросоюз. Денежные средства, превышающие 10 тысяч евро подлежат обязательному
                                декларированию. В Парижском аэропорту нет зеленого или красного коридора для прохода
                                таможни. Два-три таможенника стоят у выхода из зала багажа и осуществляют так называемый
                                "выборочный контроль".</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gt-tabs-main">
                <div class="gt-tabs-main-img gt-img-holder-abs">
                    <img
                            class="lazy"
                            src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
                            data-src= "../assets/images/country/country-link-1.png"
                            alt=""
                    >
                </div>
                <div class="gt-tabs-main-text gt-box-shadow">
                    <div class=" gt-inner-scroll  gt-scroll-cursor-custom gt-inner-scroll-tab">
                        <div class="gt-inner-scroll-text">
                            <p>Таможенные правила Франции разрешают свободный вывоз валюты. А вот ввозить можно не более
                                10 тысяч евро – такие ограничения действуют для граждан всех стран, не входящих в
                                Евросоюз. Денежные средства, превышающие 10 тысяч евро подлежат обязательному
                                декларированию. В Парижском аэропорту нет зеленого или красного коридора для прохода
                                таможни. Два-три таможенника стоят у выхода из зала багажа и осуществляют так называемый
                                "выборочный контроль".</p>
                            <p>Таможенные правила Франции разрешают свободный вывоз валюты. А вот ввозить можно не более
                                10 тысяч евро – такие ограничения действуют для граждан всех стран, не входящих в
                                Евросоюз. Денежные средства, превышающие 10 тысяч евро подлежат обязательному
                                декларированию. В Парижском аэропорту нет зеленого или красного коридора для прохода
                                таможни. Два-три таможенника стоят у выхода из зала багажа и осуществляют так называемый
                                "выборочный контроль".</p>
                            <p>Таможенные правила Франции разрешают свободный вывоз валюты. А вот ввозить можно не более
                                10 тысяч евро – такие ограничения действуют для граждан всех стран, не входящих в
                                Евросоюз. Денежные средства, превышающие 10 тысяч евро подлежат обязательному
                                декларированию. В Парижском аэропорту нет зеленого или красного коридора для прохода
                                таможни. Два-три таможенника стоят у выхода из зала багажа и осуществляют так называемый
                                "выборочный контроль".</p>
                            <p>Таможенные правила Франции разрешают свободный вывоз валюты. А вот ввозить можно не более
                                10 тысяч евро – такие ограничения действуют для граждан всех стран, не входящих в
                                Евросоюз. Денежные средства, превышающие 10 тысяч евро подлежат обязательному
                                декларированию. В Парижском аэропорту нет зеленого или красного коридора для прохода
                                таможни. Два-три таможенника стоят у выхода из зала багажа и осуществляют так называемый
                                "выборочный контроль".</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gt-tabs-main">
                <div class="gt-tabs-main-img gt-img-holder-abs">
                    <img
                            class="lazy"
                            src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
                            data-src= "../assets/images/bottom_slider/bottom-slider-1.png"
                            alt=""
                    >
                </div>
                <div class="gt-tabs-main-text gt-box-shadow">
                    <div class=" gt-inner-scroll  gt-scroll-cursor-custom gt-inner-scroll-tab">
                        <div class="gt-inner-scroll-text">
                            <p>Таможенные правила Франции разрешают свободный вывоз валюты. А вот ввозить можно не более
                                10 тысяч евро – такие ограничения действуют для граждан всех стран, не входящих в
                                Евросоюз. Денежные средства, превышающие 10 тысяч евро подлежат обязательному
                                декларированию. В Парижском аэропорту нет зеленого или красного коридора для прохода
                                таможни. Два-три таможенника стоят у выхода из зала багажа и осуществляют так называемый
                                "выборочный контроль".</p>
                            <p>Таможенные правила Франции разрешают свободный вывоз валюты. А вот ввозить можно не более
                                10 тысяч евро – такие ограничения действуют для граждан всех стран, не входящих в
                                Евросоюз. Денежные средства, превышающие 10 тысяч евро подлежат обязательному
                                декларированию. В Парижском аэропорту нет зеленого или красного коридора для прохода
                                таможни. Два-три таможенника стоят у выхода из зала багажа и осуществляют так называемый
                                "выборочный контроль".</p>
                            <p>Таможенные правила Франции разрешают свободный вывоз валюты. А вот ввозить можно не более
                                10 тысяч евро – такие ограничения действуют для граждан всех стран, не входящих в
                                Евросоюз. Денежные средства, превышающие 10 тысяч евро подлежат обязательному
                                декларированию. В Парижском аэропорту нет зеленого или красного коридора для прохода
                                таможни. Два-три таможенника стоят у выхода из зала багажа и осуществляют так называемый
                                "выборочный контроль".</p>
                            <p>Таможенные правила Франции разрешают свободный вывоз валюты. А вот ввозить можно не более
                                10 тысяч евро – такие ограничения действуют для граждан всех стран, не входящих в
                                Евросоюз. Денежные средства, превышающие 10 тысяч евро подлежат обязательному
                                декларированию. В Парижском аэропорту нет зеленого или красного коридора для прохода
                                таможни. Два-три таможенника стоят у выхода из зала багажа и осуществляют так называемый
                                "выборочный контроль".</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gt-tabs-main">
                <div class="gt-tabs-main-img gt-img-holder-abs">
                    <img
                            class="lazy"
                            src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
                            data-src= "../assets/images/china_slider/sanya-09.png"
                            alt=""
                    >
                </div>
                <div class="gt-tabs-main-text gt-box-shadow">
                    <div class=" gt-inner-scroll  gt-scroll-cursor-custom gt-inner-scroll-tab">
                        <div class="gt-inner-scroll-text">
                            <p>Таможенные правила Франции разрешают свободный вывоз валюты. А вот ввозить можно не более
                                10 тысяч евро – такие ограничения действуют для граждан всех стран, не входящих в
                                Евросоюз. Денежные средства, превышающие 10 тысяч евро подлежат обязательному
                                декларированию. В Парижском аэропорту нет зеленого или красного коридора для прохода
                                таможни. Два-три таможенника стоят у выхода из зала багажа и осуществляют так называемый
                                "выборочный контроль".</p>
                            <p>Таможенные правила Франции разрешают свободный вывоз валюты. А вот ввозить можно не более
                                10 тысяч евро – такие ограничения действуют для граждан всех стран, не входящих в
                                Евросоюз. Денежные средства, превышающие 10 тысяч евро подлежат обязательному
                                декларированию. В Парижском аэропорту нет зеленого или красного коридора для прохода
                                таможни. Два-три таможенника стоят у выхода из зала багажа и осуществляют так называемый
                                "выборочный контроль".</p>
                            <p>Таможенные правила Франции разрешают свободный вывоз валюты. А вот ввозить можно не более
                                10 тысяч евро – такие ограничения действуют для граждан всех стран, не входящих в
                                Евросоюз. Денежные средства, превышающие 10 тысяч евро подлежат обязательному
                                декларированию. В Парижском аэропорту нет зеленого или красного коридора для прохода
                                таможни. Два-три таможенника стоят у выхода из зала багажа и осуществляют так называемый
                                "выборочный контроль".</p>
                            <p>Таможенные правила Франции разрешают свободный вывоз валюты. А вот ввозить можно не более
                                10 тысяч евро – такие ограничения действуют для граждан всех стран, не входящих в
                                Евросоюз. Денежные средства, превышающие 10 тысяч евро подлежат обязательному
                                декларированию. В Парижском аэропорту нет зеленого или красного коридора для прохода
                                таможни. Два-три таможенника стоят у выхода из зала багажа и осуществляют так называемый
                                "выборочный контроль".</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>