<div class="container gt-margin">
    <div class="gt-tabs">
        <div class="gt-tabs-button-holder">
            <div class="gt-tabs-button">
                <span>Туристический сезон</span>
            </div>
            <div class="gt-tabs-button">
                <span>Таможеные правила</span>
            </div>
            <div class="gt-tabs-button">
                <span>Виза</span>
            </div>
        </div>
        <div class="gt-main-holder">
            <div class="gt-tabs-main">
                <div class="gt-tabs-main-img gt-img-holder-abs">
                    <img
                            class="lazy"
                            src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
                            data-src= "../assets/images/news/news-4.png"
                            alt=""
                    >
                </div>
                <div class="gt-tabs-main-text gt-box-shadow">
                    <div class=" gt-inner-scroll  gt-scroll-cursor-custom gt-inner-scroll-tab">
                        <div class="gt-inner-scroll-text">
                            <p>Таможенные правила Франции разрешают свободный вывоз валюты. А вот ввозить можно не более
                                10 тысяч евро – такие ограничения действуют для граждан всех стран, не входящих в
                                Евросоюз. Денежные средства, превышающие 10 тысяч евро подлежат обязательному
                                декларированию. В Парижском аэропорту нет зеленого или красного коридора для прохода
                                таможни. Два-три таможенника стоят у выхода из зала багажа и осуществляют так называемый
                                "выборочный контроль".</p>
                            <p>Таможенные правила Франции разрешают свободный вывоз валюты. А вот ввозить можно не более
                                10 тысяч евро – такие ограничения действуют для граждан всех стран, не входящих в
                                Евросоюз. Денежные средства, превышающие 10 тысяч евро подлежат обязательному
                                декларированию. В Парижском аэропорту нет зеленого или красного коридора для прохода
                                таможни. Два-три таможенника стоят у выхода из зала багажа и осуществляют так называемый
                                "выборочный контроль".</p>
                            <p>Таможенные правила Франции разрешают свободный вывоз валюты. А вот ввозить можно не более
                                10 тысяч евро – такие ограничения действуют для граждан всех стран, не входящих в
                                Евросоюз. Денежные средства, превышающие 10 тысяч евро подлежат обязательному
                                декларированию. В Парижском аэропорту нет зеленого или красного коридора для прохода
                                таможни. Два-три таможенника стоят у выхода из зала багажа и осуществляют так называемый
                                "выборочный контроль".</p>
                            <p>Таможенные правила Франции разрешают свободный вывоз валюты. А вот ввозить можно не более
                                10 тысяч евро – такие ограничения действуют для граждан всех стран, не входящих в
                                Евросоюз. Денежные средства, превышающие 10 тысяч евро подлежат обязательному
                                декларированию. В Парижском аэропорту нет зеленого или красного коридора для прохода
                                таможни. Два-три таможенника стоят у выхода из зала багажа и осуществляют так называемый
                                "выборочный контроль".</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gt-tabs-main ">
                <div class="gt-tabs-main-img gt-img-holder-abs">
                    <img
                            class="lazy"
                            src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
                            data-src= "../assets/images/tab_slider/tab-slider_1.png"
                            alt=""
                    >
                </div>
                <div class="gt-tabs-main-text gt-box-shadow">
                    <div class=" gt-inner-scroll  gt-scroll-cursor-custom gt-inner-scroll-tab">
                        <div class="gt-inner-scroll-text">
                            <p>Таможенные правила Франции разрешают свободный вывоз валюты. А вот ввозить можно не более
                                10 тысяч евро – такие ограничения действуют для граждан всех стран, не входящих в
                                Евросоюз. Денежные средства, превышающие 10 тысяч евро подлежат обязательному
                                декларированию. В Парижском аэропорту нет зеленого или красного коридора для прохода
                                таможни. Два-три таможенника стоят у выхода из зала багажа и осуществляют так называемый
                                "выборочный контроль".</p>
                            <p>Таможенные правила Франции разрешают свободный вывоз валюты. А вот ввозить можно не более
                                10 тысяч евро – такие ограничения действуют для граждан всех стран, не входящих в
                                Евросоюз. Денежные средства, превышающие 10 тысяч евро подлежат обязательному
                                декларированию. В Парижском аэропорту нет зеленого или красного коридора для прохода
                                таможни. Два-три таможенника стоят у выхода из зала багажа и осуществляют так называемый
                                "выборочный контроль".</p>
                            <p>Таможенные правила Франции разрешают свободный вывоз валюты. А вот ввозить можно не более
                                10 тысяч евро – такие ограничения действуют для граждан всех стран, не входящих в
                                Евросоюз. Денежные средства, превышающие 10 тысяч евро подлежат обязательному
                                декларированию. В Парижском аэропорту нет зеленого или красного коридора для прохода
                                таможни. Два-три таможенника стоят у выхода из зала багажа и осуществляют так называемый
                                "выборочный контроль".</p>
                            <p>Таможенные правила Франции разрешают свободный вывоз валюты. А вот ввозить можно не более
                                10 тысяч евро – такие ограничения действуют для граждан всех стран, не входящих в
                                Евросоюз. Денежные средства, превышающие 10 тысяч евро подлежат обязательному
                                декларированию. В Парижском аэропорту нет зеленого или красного коридора для прохода
                                таможни. Два-три таможенника стоят у выхода из зала багажа и осуществляют так называемый
                                "выборочный контроль".</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gt-tabs-main ">
                <div class="gt-tabs-main-img gt-img-holder-abs">
                    <img
                            class="lazy"
                            src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
                            data-src= "../assets/images/china_slider/sanya-09.png"
                            alt=""
                    >
                </div>
                <div class="gt-tabs-main-text gt-box-shadow">
                    <div class=" gt-inner-scroll  gt-scroll-cursor-custom gt-inner-scroll-tab">
                        <div class="gt-inner-scroll-text">
                            <p>Таможенные правила Франции разрешают свободный вывоз валюты. А вот ввозить можно не более
                                10 тысяч евро – такие ограничения действуют для граждан всех стран, не входящих в
                                Евросоюз. Денежные средства, превышающие 10 тысяч евро подлежат обязательному
                                декларированию. В Парижском аэропорту нет зеленого или красного коридора для прохода
                                таможни. Два-три таможенника стоят у выхода из зала багажа и осуществляют так называемый
                                "выборочный контроль".</p>
                            <p>Таможенные правила Франции разрешают свободный вывоз валюты. А вот ввозить можно не более
                                10 тысяч евро – такие ограничения действуют для граждан всех стран, не входящих в
                                Евросоюз. Денежные средства, превышающие 10 тысяч евро подлежат обязательному
                                декларированию. В Парижском аэропорту нет зеленого или красного коридора для прохода
                                таможни. Два-три таможенника стоят у выхода из зала багажа и осуществляют так называемый
                                "выборочный контроль".</p>
                            <p>Таможенные правила Франции разрешают свободный вывоз валюты. А вот ввозить можно не более
                                10 тысяч евро – такие ограничения действуют для граждан всех стран, не входящих в
                                Евросоюз. Денежные средства, превышающие 10 тысяч евро подлежат обязательному
                                декларированию. В Парижском аэропорту нет зеленого или красного коридора для прохода
                                таможни. Два-три таможенника стоят у выхода из зала багажа и осуществляют так называемый
                                "выборочный контроль".</p>
                            <p>Таможенные правила Франции разрешают свободный вывоз валюты. А вот ввозить можно не более
                                10 тысяч евро – такие ограничения действуют для граждан всех стран, не входящих в
                                Евросоюз. Денежные средства, превышающие 10 тысяч евро подлежат обязательному
                                декларированию. В Парижском аэропорту нет зеленого или красного коридора для прохода
                                таможни. Два-три таможенника стоят у выхода из зала багажа и осуществляют так называемый
                                "выборочный контроль".</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>