@import "../../stylesheets/_palette";
@import "../../stylesheets/_variables";
@import "../../stylesheets/_mixin";

.gt-tabs {
  position: relative;
  flex-direction: column;
  height: 350px;
  width: 100%;
  &-button {
    background: @grey-5;
    color: @black;
    padding: 15px;
    height: 40px;
    min-width: 200px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    .gt-transition();
    &-holder {
      position: absolute;
      flex-direction: row;
      left: 0;
      top: 5px;
      z-index: 5;
    }
    span {
      position: relative;
      &:after, &:before {
        content: '';

        height: 2px;
        background: @blue;
        position: absolute;
        bottom: -3px;
        left: 0;
      }
      &:after {
        width: 0;
        .gt-transition();
      }
    }

    &.active {
      background: @white;
      cursor: default;
      span {
        &:before {
          width: 100%;
        }
      }
    }
    &:hover {
      span {
        &:after {

          width: 100%;
        }
      }
    }
  }
  &-main {
    opacity: 0;
    z-index: 1;
    .gt-transition();
    &.active {
      opacity: 1;
      z-index: 2;
    }
    &-holder {
      height: 100%;
      min-height: 100%;
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }
    &-img {
      position: absolute;
      top: 0;
      right: 0;
      width: 42%;
      height: 100%;
      overflow: hidden;
      img {
        width: 100%;
      }
    }
    &-text {
      background: @white;
      position: absolute;
      top: 45px;
      left: 0;
      width: 62%;
      height: 245px;
      font-size: 14px;
      line-height: 1.8;
      padding: 40px 20px 40px 40px;
      .gt-inner-scroll-text {
        padding-right: 10px;
      }
      &-inner {

        p {
          padding-top: 10px;

          &:first-of-type {
            padding-top: 0;
          }
        }
        a {
          display: inline-flex;
          width: auto;
          align-self: flex-end;
        }
      }
    }
  }
  &-broad {
    height: 300px;
    .gt-tabs {
      &-button {
        background: @body-bg;
        min-width: 0;
        &:after {
          display: none;
        }
        span {
          position: relative;
          &:after, &:before {
            content: '';

            height: 2px;
            background: @blue;
            position: absolute;
            bottom: -3px;
            left: 0;
          }
          &:after {
            width: 0;
            .gt-transition();
          }

        }
        &-holder {
          top: 0;
        }
        &.active {
          background: @body-bg;
          border-bottom: none;
          cursor: default;
          span {
            &:before {
              width: 100%;
            }
          }
        }

        &:hover {
          span {
            &:after {

              width: 100%;
            }
          }
        }

      }
      &-main {
        &-img {
          right: auto;
          top: 40px;
          left: 0;
          width: 30%;
          height: 260px;
        }
        &-text {
          background: @white;
          position: absolute;
          top: 40px;
          left: auto;
          right: 0;
          width: 70%;
          height: 260px;
          margin: 0;
        }
      }
    }
  }
}
