<div class="gt-publication">
    <div class="gt-publication-inner">
        <div class="gt-publication-img">
            <div class="gt-img-holder-abs">
                <img
                        class="lazy"
                        src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
                        data-src= "../assets/images/_pages/piramida.png"
                        alt="piramida"
                >

            </div>
        </div>
        <div class="gt-publication-preview">
            <a href="/publication-article.html" class="gt-publication-preview-header">Туристические места для наблюдения
                за животными</a>
            <p>Антонио Гауди является величайшим представителей модерна, его исключительное новаторство сделало.</p>
            <div class="gt-publication-user">
                <div class="gt-publication-user-photo">
                    <div class="gt-img-holder-abs">
                        <img
                                class="lazy"
                                src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
                                data-src= "../assets/images/user-photo.png"
                                alt="user"
                        >
                    </div>
                </div>
                <div class="gt-publication-user-text">
                    <p>gafinmisha</p>
                    <p>31.06.2017</p>
                </div>
                <div class="gt-publication-user-marks">
                    <div class="gt-publication-user-marks-bookmarks" title="действия???">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>