<div class="container  gt-margin">
    <div class="gt-publication-article">
        <div class="gt-publication-article-header">
            <div class="gt-publication-user">
                <div class="gt-publication-user-photo">
                    <div class="gt-img-holder-abs">
                        <img src= "../assets/images/user-photo.png" alt="user">
                    </div>
                </div>
                <div class="gt-publication-user-text">
                    <p>gafinmisha</p>
                    <p>31.06.2017</p>
                </div>
                <div class="gt-publication-user-subscribe">
                    <span class="gt-btn gt-btn-blue gt-btn-30-round">
                        Подписаться
                    </span>
                </div>
            </div>
            <h2>Диснейленд заголовок блога</h2>
        </div>
    </div>
</div>

