<div class="gt-seven-wonders-wrapper container gt-margin">
    <div class="gt-text-block">
        <h2>
            Семь чудес Древнего мира
        </h2>
        <p>
            Семь чудес Древнего мира — список прославленных античных памятников, составленный древними историками и путешественниками, в том числе «отцом истории» Геродотом. Список неоднократно редактировался, и его классический вариант был сформирован примерно в III веке до н. э. благодаря стараниям Филона Византийского.
        </p>
    </div>
    <div class="gt-seven-wonders">
        //= ../view_cards/_view-card
        //= ../view_cards/_view-card
        //= ../view_cards/_view-card
        //= ../view_cards/_view-card
        //= ../view_cards/_view-card
        //= ../view_cards/_view-card
        //= ../view_cards/_view-card

    </div>
    <div class="gt-text-block gt-margin">
        <p>
            Из 7 чудес Древнего мира в наши дни сохранилась лишь пирамида Хеопса. На протяжении веков список интерприторовали по разому, его заменяли или дополняли следующими объектами: Александрийская библиотека, Пергамский алтарь Зевса, Дворец Кира в Персеполе, Поющие статуи Мемнона, храм Зевса в Кизике, статуя Асклепия в Эпидавре, Афина Парфенос, Колизей, Капитолий, храм Соломона, Ноев ковчег, Вавилонская башня, храм Софии в Константинополе и т.д.
        </p>
    </div>
</div>
