<div class="gt-country-info-weather cloudy">
    <div class="gt-country-info-forecast">
        <div class="gt-aling-items-flex-end">
            <span>Франция, Париж</span><span class = "gt-country-info-forecast-deg gt-country-info-forecast-big">+22</span>
        </div>
        <div>
            <span>Малооблачно, небольшой дождь, гроза, 2 м/с</span>
        </div>
        <div class = "gt-country-info-forecast-icon-wrapper">
            <div class = "gt-country-info-forecast-icon">
                <p>Днем</p>
                <img src= "../assets/images/weather_icons/_cloud.svg" alt="cloud">
                <p class = "gt-country-info-forecast-deg">+23</p>
                <p>штиль</p>
            </div>
            <div class = "gt-country-info-forecast-icon">
                <p>Вечером</p>
                <img src= "../assets/images/weather_icons/_cloud-drizzle.svg" alt="cloud-drizzle">
                <p class = "gt-country-info-forecast-deg">-0</p>
                <p>2 м/с</p>
            </div>
            <div class = "gt-country-info-forecast-icon">
                <p>Ночью</p>
                <img src= "../assets/images/weather_icons/_cloud-drizzle-lightning.svg" alt="cloud-drizzle-lightning">
                <p class = "gt-country-info-forecast-deg">0</p>
                <p>5 м/с</p>
            </div>
            <div class = "gt-country-info-forecast-icon">
                <p>Утром</p>
                <img src= "../assets/images/weather_icons/_cloud-fog.svg" alt="_cloud-fog.svg">
                <p class = "gt-country-info-forecast-deg">+3</p>
                <p>3 м/с</p>
            </div>
        </div>
        <div class="gt-curr-time" data-gmt = '2' >

            <span class = "gt-country-info-forecast-big gt-curr-time-time"></span>
            <span class = "gt-curr-time-date"></span>

        </div>
    </div>
    <div class="gt-country-info-globe">
        <img src= "../assets/images/globe/france.png" alt="france">
    </div>
</div>