<div class="gt-country-info-gov">
    <img src= "../assets/images/flags/france.svg" alt="france">
    <img src= "../assets/images/national_emblen/france.png" alt="france">

</div>
<div class="gt-country-info-text">
    <div class="gt-country-info-text-inner">
        <p>Официальное название:</p><p>Французская Республика</p>
    </div>

    <div class="gt-country-info-text-inner">
        <p>Дата независимости:</p><p>Основано 843 год (Верденский договор), 1958 год (Пятая французская республика)</p>
    </div>

    <div class="gt-country-info-text-inner">
        <p>Столица:</p><p>Париж</p>
    </div>

    <div class="gt-country-info-text-inner">
        <p>Площадь</p><p>674 685 км² (48-я в мире)</p>
    </div>

    <div class="gt-country-info-text-inner">
        <p>Население: </p><p>66 200 000 чел. (21-я в мире, 2014)</p>
    </div>

    <div class="gt-country-info-text-inner">
        <p>Официальный язык:</p><p>французский</p>
    </div>
    <div class="gt-country-info-text-inner">
        <p>Валюта: </p><p>евро (EUR, код 978)</p>
    </div>



</div>