<div class="gt-collection-white container container-no-padd gt-margin">
    <div class="gt-img-holder-abs">
        <img
                class="lazy"
                src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
                data-src= "../assets/images/_pages/waterfall.png"
                alt=""
        >
    </div>
    <div class="gt-collection-text gt-collection-white-text">

        <p class="gt-collection-header">
            Туристические места для наблюдения за животными
        </p>
        <p>
            Антонио Гауди является величайшим представителей модерна, его исключительное новаторство сделало Гауди
            гением, изобретателем уникального, собственного и несравненного архитектурного языка, который не поддается
            классификации.
        </p>
        <div class="gt-collection-read-more">
            <a href="/collections-sliders.html" class="gt-btn gt-btn-45 gt-btn-white gt-btn-wide">Читать далее</a>
        </div>
    </div>
</div>
    