<div class="gt-collection-link-wrapper container gt-margin">
    <div class="gt-collection-link">
        <div class="gt-collection-link-img">
            <div class="gt-collection-link-img-slider">
                //= ../slider_disappear/collection-sliders-page
            </div>
            <div class="gt-collection-link-slider-wrapper">
               //= ../text_slider/_text-slider.html
            </div>
        </div>
        <div class="gt-collection-link-text">
            <a href=".#" class="gt-link-header"> Саграда Фамилия (исп. Templo Expiatorio de la Sagrada Familia)</a>
            <p>Дом Висенс – первая самостоятельная работа Антони Гауди. Он построен из необработанного камня и цветной
                керамической
                плитки, расположенной в шахматном порядке с растительными орнаментами. Дом представляет собой
                практически
                правильный четырехугольник, за исключением столовой и курительного салона. И конструктивное, и
                декоративное
                решение вдохновлено испано-арабским стилем мудехар. Уделяя внимание каждой детали строения, Гауди сам
                спроектировал
                решетки ворот, окон, балконов и выполнил эскизы интерьеров. Дом частный, и к сожалению, довольствоваться
                можно только экстерьером. Зато каким!</p>
            <div class="gt-collection-link-read-more">
                <a href=".#" class="gt-btn gt-btn-30 gt-btn-plane">Подробнее</a>
            </div>
        </div>
    </div>
</div>