<div class="gt-share gt-margin ">
    <p class="gt-share-header">
        Поделиться с друзьями
    </p>
    <ul class="gt-share-list">
        <li class="gt-share-list-facebook js-share-facebook">
            <i class="fab fa-facebook-f"></i>
            <span>Facebook</span>
        </li>
        <li class="gt-share-list-twitter js-share-twitter">
            <i class="fab fa-twitter"></i>
            <span>Twitter</span>
        </li>
        <li class="gt-share-list-google js-share-google">
            <i class="fab fa-google-plus-g"></i>
            <span>Google+</span>
        </li>
        <li class="gt-share-list-viber js-share-google">
            <i class="fab fa-viber"></i>
            <span>Viber</span>
        </li>
        <li class="gt-share-list-telegram js-share-google">
            <i class="fab fa-telegram-plane"></i>
            <span>Telegram</span>
        </li>
    </ul>
</div>