<div class="gt-video gt-video-high gt-margin" data-youtube="W0LHTWG-UmQ">
    <div class="gt-video-inner gt-video-width">
        <div class="gt-video-img">
            <div class="gt-img-holder-abs">
                <img
                        class="lazy"
                        src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
                        data-src= "../assets/images/video-bg.png"
                        alt="abs"
                >
            </div>
        </div>
    </div>

    <span class="gt-video-switch"></span>
    <span class="gt-video-play"></span>
    <span class="gt-video-pause"></span>
    <span class="gt-video-uncover"></span>
</div>
<div class="gt-video-after gt-margin">
    <p>Тестовое название видео</p>
</div>



