<div class="gt-video gt-margin">
    <div class="gt-video-text">
        <div class="container">
            <p><span class="gt-a-video">Видео</span></p>
            <p>Пирамида Хеопса (The Pyramid of Cheops)</p>
        </div>
    </div>
    <div class="gt-video-inner">
        <div class="gt-video-img">
            <div class="gt-img-holder-abs gt-shadow-100">
                <img
                        class="lazy"
                        src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
                        data-src= "../assets/images/_pages/disappear_slider/arizona-barringer-crater-01.jpg"
                        alt="abs"
                >
            </div>
        </div>
    </div>
    <div class="gt-video-wrapper ">
        <video muted
               autoplay
               controls
               width='1920'
               height='1080'
        >
            <source src="https://youtu.be/q5Dqif8RqGE" type="video/youtube">
        </video>
    </div>
    <div class="gt-video-switch">
        <div class="gt-loader">
            <div class="gt-loader_1 circularG"></div>
            <div class="gt-loader_2 circularG"></div>
            <div class="gt-loader_3 circularG"></div>
            <div class="gt-loader_4 circularG"></div>
            <div class="gt-loader_5 circularG"></div>
            <div class="gt-loader_6 circularG"></div>
            <div class="gt-loader_7 circularG"></div>
            <div class="gt-loader_8 circularG"></div>
        </div>
    </div>

</div>