<!--src/templates/header/header START-->

<header id="header" class="gt-header">
    <div class="container">
        <div class="gt-header-logo">
            <a class="gt-logo" href="/">
                <img src="../images/logo-white.svg" alt="GoToTrip">
            </a>
        </div>
        <div class="gt-header-search">
            <span id="gt-open-search" class="gt-search-button"></span>
        </div>
        <div class="gt-header-switcher">
            <div id="gt-mobile-menu-switch" class="gt-switch gt-switch-main">
                <span class="line line-1"></span>
                <span class="line line-2"></span>
                <span class="line line-3"></span>
            </div>
        </div>
        <div class="gt-header-menu">
            <ul>
                <li>
                    <a href="/map-country.html">Страны мира</a>
                </li>
                <li>
                    <a href="/guide.html">Путеводитель</a>
                </li>
                <li>
                    <a href="/news-page.html">Новости</a>
                </li>
                <li>
                    <a href="/collections.html">Подборки</a>
                </li>
                <li>
                    <a href="/video.html">Видео</a>
                </li>
                <li>
                    <a href="/publications.html">Публикации</a>
                </li>
<!-- зарегистрированный пользователь -->
                <!-- <li id="gt-enter" class="gt-enter gt-registered">
                    <span>Длинноеимя</span>
                </li> -->
<!-- зарегистрированный пользователь end-->

<!-- НЕЗАРЕГИСТРИРОВАННЫЙ ПОЛЬЗОВАТЕЛЬ -->
                    <li id="gt-enter" class="gt-enter">
                        <span>Вход</span>
                    </li>
<!-- НЕЗАРЕГИСТРИРОВАННЫЙ ПОЛЬЗОВАТЕЛЬ END-->

            </ul>
        </div>
        <div id="gt-header-user" class="gt-header-user">
<!-- //= registered -->
//= not-registered

        </div>
        <div class="gt-header-social">
            <a href="https://www.facebook.com/GotoTripcom/" rel="nofollow" target="_blank">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://www.instagram.com/gototripcom/" rel="nofollow" target="_blank">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://www.youtube.com/channel/UCRfiVwj7VACf-7xR0Jewnlw" rel="nofollow" target="_blank">
                <i class="fab fa-youtube"></i>
            </a>
        </div>
    </div>
</header>


<!--src/templates/header/header END-->