<div id="gt-header-registered" class="gt-header-enter">
    <ul>
        <li>
            <a href=".#">Лента</a>
        </li>
        <li>
            <a href=".#">Сообщения</a>
        </li>
        <li>
            <a href=".#">Оповещения</a>
        </li>
        <li>
            <a href=".#">Был, видел</a>
        </li>
        <li>
            <a href=".#">Хочу посетить</a>
        </li>
        <li>
            <a href=".#">Публикации</a>
        </li>
        <li>
            <a href=".#">Закладки</a>
        </li>
        <li>
            <a href=".#">События</a>
        </li>
        <li>
            <a href=".#">Настройки</a>
        </li>
        <li>
            <a href=".#">Выйти</a>
        </li>
    </ul>
</div>