<div class="gt-header-menu">
    <ul>
        <li>
            <a href="/map-country.html">Страны мира</a>
        </li>
        <li>
            <a href="/guide.html">Путеводитель</a>
        </li>
        <li class="gt-active">
            <a href="/news-page.html">Новости</a>
        </li>
        <li>
            <a href="/collections.html">Подборки</a>
        </li>
        <li>
            <a href="/video.html">Видео</a>
        </li>
        <li>
            <a href="/publications.html">Публикации</a>
        </li>
        <li class="gt-enter">
            <span>Вход</span>
        </li>
        <li>
            <span class="gt-search-button gt-open-search"></span>
        </li>
    </ul>
</div>