<div class="gt-header-mobile-menu">
    <ul class="container">
        <li>
            <a href="/map-country.html">Страны мира</a>
        </li>
        <li>
            <a href="/guide.html">Путеводитель</a>
        </li>
        <li>
            <a href="/news-page.html">Новости</a>
        </li>
        <li>
            <a href="/collections.html">Подборки</a>
        </li>
        <li>
            <a href="/video.html">Видео</a>
        </li>
        <li>
            <a href="/publications.html">Публикации</a>
        </li>
        <li class="gt-enter">
            <span>Вход</span>
            <!-- <span>Длинноеимя</span> -->
        </li>
    </ul>
    <div class="gt-header-social-link container">
        <a href="https://www.facebook.com/GotoTripcom/" rel="nofollow" target="_blank">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://www.instagram.com/gototripcom/" rel="nofollow" target="_blank">
            <i class="fab fa-instagram"></i>
        </a>
        <a href="https://www.youtube.com/channel/UCRfiVwj7VACf-7xR0Jewnlw" rel="nofollow" target="_blank">
            <i class="fab fa-youtube"></i>
        </a>
    </div>
</div>