<div class="gt-header-registration">
<form id="restore-pass" class="gt-header-registration-form">
<p class = 'text'>Восстановить пароль</p>
        <div class="gt-input-wrapper gt-input-wrapper-validator">
            <input type="text" id="gt-restore-email" placeholder="E-mail">
            <span class="gt-input-wrapper-validation">Некорректный email</span>
            <span class="gt-input-wrapper-empty">Обязательное поле</span>
        </div>
        <div class="gt-header-registration-form-submit">
            <button id="gt-restore-form-submit" class="gt-btn gt-btn-whitest">
                Отправить
            </button>
        </div>
    </form>
</div>