<div class="container gt-margin gt-slider-text-link">
    <div class="gt-slider gt-slider-has-arrow gt-slider-tram gt-slider-has-dots">
        <div class="gt-slider-container">
            <div class="gt-slider-inner">
                <div class="gt-slider-inner-outer">
                    <div class="gt-slider-inner-img">
                        <div class="gt-img-holder-abs">
                            <img
                                    class="lazy"
                                    src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
                                    data-src= "../assets/images/bottom_slider/bottom-slider-1.png"
                                    alt=""
                            >
                        </div>
                    </div>
                    <div class="gt-slider-inner-text">
                        <div class="gt-slider-inner-text-header">
                            <h2 class="gt-a-news gt-black">Что расположено на территории</h2>
                        </div>
                        <p>
                            Диснейленд – волшебное королевство, в которое
                            стремятся попасть и дети, и взрослые. Каждый день
                            здесь праздник, который вызывает улыбки на лицах
                            посетителей, заставляет забыть обо всех проблемах
                            и окунуться в детство, когда казалось, что все мечты
                            осуществимы.</p>
                        <p> Отправляясь во Францию с детьми, непременно
                            запланируйте посещение самого большого парка
                            развлечений в Европе – Диснейленда. Расположен
                            он недалеко от Парижа, в городке Марн-ля-Вале
                            (Marne-la-Vallee Chessy)
                        </p>
                        <div class="gt-slider-inner-link">
                            <a class="gt-btn gt-btn-30 gt-btn-plane" href="#">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gt-slider-inner">
                <div class="gt-slider-inner-outer">
                    <div class="gt-slider-inner-img">
                        <div class="gt-img-holder-abs">
                            <img
                                    class="lazy"
                                    src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
                                    data-src= "../assets/images/link-block-img.png"
                                    alt="">
                        </div>
                    </div>
                    <div class="gt-slider-inner-text">
                        <div class="gt-slider-inner-text-header">
                            <h2 class="gt-a-news gt-black">Что расположено на территории</h2>
                        </div>
                        <p>
                            Диснейленд – волшебное королевство, в которое
                            стремятся попасть и дети, и взрослые. Каждый день
                            здесь праздник, который вызывает улыбки на лицах
                            посетителей, заставляет забыть обо всех проблемах
                            и окунуться в детство, когда казалось, что все мечты
                            осуществимы.</p>
                        <p> Отправляясь во Францию с детьми, непременно
                            запланируйте посещение самого большого парка
                            развлечений в Европе – Диснейленда. Расположен
                            он недалеко от Парижа, в городке Марн-ля-Вале
                            (Marne-la-Vallee Chessy)
                        </p>
                        <div class="gt-slider-inner-link">
                            <a class="gt-btn gt-btn-30 gt-btn-plane" href="#">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gt-slider-inner">
                <div class="gt-slider-inner-outer">
                    <div class="gt-slider-inner-img">
                        <div class="gt-img-holder-abs">
                            <img
                                    class="lazy"
                                    src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
                                    data-src= "../assets/images/tab_slider/tab-slider_2.png"
                                    alt=""
                            >
                        </div>
                    </div>
                    <div class="gt-slider-inner-text">
                        <div class="gt-slider-inner-text-header">
                            <h2 class="gt-a-news gt-black">Что расположено на территории</h2>
                        </div>
                        <p>
                            Диснейленд – волшебное королевство, в которое
                            стремятся попасть и дети, и взрослые. Каждый день
                            здесь праздник, который вызывает улыбки на лицах
                            посетителей, заставляет забыть обо всех проблемах
                            и окунуться в детство, когда казалось, что все мечты
                            осуществимы.</p>
                        <p> Отправляясь во Францию с детьми, непременно
                            запланируйте посещение самого большого парка
                            развлечений в Европе – Диснейленда. Расположен
                            он недалеко от Парижа, в городке Марн-ля-Вале
                            (Marne-la-Vallee Chessy)
                        </p>
                        <div class="gt-slider-inner-link">
                            <a class="gt-btn gt-btn-30 gt-btn-plane" href="#">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




