<!--src/templates/card_wonder/card-wonder-wrapper.html START-->

<div class="gt-card-wonder-wrapper container gt-margin">
    //=./card-wonder
    <!-- // -->
    //=./card-wonder-big
</div>
<div class="gt-card-wonder-wrapper container gt-margin">
    //=./card-wonder
    <!-- // -->
    //=./card-wonder
</div>
<div class="gt-card-wonder-wrapper container gt-margin">
    //=./card-wonder-big
    <!-- // -->
    //=./card-wonder
</div>
<div class="gt-card-wonder-wrapper container gt-margin">
    //=./card-wonder
    <!-- // -->
    //=./card-wonder
</div>

<!--src/templates/card_wonder/card-wonder-wrapper.html END-->
