<div class="gt-card-wonder">
        <p>
                <img src= "../assets/images/paris/wonder-pic.png" alt="alt" class="gt-img-left" width = "169" height="121">
                <span>Семь чудес Древнего мира</span>
                По инициативе Бернарда Вебера с помощью
некоммерческой организацией New Open World
Corporation начался проект по обновлению семи древних чудес света. С помощью опроса, через интернет и телефон более 100 миллионов человек отдали свои голоса, после чего был утвержден окончательный список новых семи чудес света. Результаты голосования были оглашены 7 июля 2007 года в Лиссабоне, Португалии.
            </p>
            <a href=".#">Подробнее</a>

</div>