</div>
<footer
        id="gt-footer"
        class="gt-footer"
        data-src-desctop="footer-1920.png"
        data-src-tablet="footer-1024.png"
        data-src-phone="footer-600.png"
>
    //= ../footer/code
</footer>
<div id="gt-body-wrapper" class="gt-body-wrapper"></div>
<div id="gt-up" class="gt-up">
    <span>Вверх</span>
</div>

<script type="text/javascript" src="../assets/javascripts/jquery-3.2.1.min.js"></script>
<script src="../assets/javascripts/jquery.lazyload.min.js"></script>
<script src="../assets/javascripts/jquery.nicescroll.min.js"></script>
<script src="../assets/javascripts/mediaelement-and-player.min.js"></script>
<script type="text/javascript" src="../assets/javascripts/app.js"></script>
</body>
</html>



