<!DOCTYPE html>
    <html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>GoToTrip</title>
        <link rel="stylesheet" href="../assets/stylesheets/main.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
    </head>
    <body>
    //= ../search_block/search-block.html
        <span id="gt-is-360"></span>
        <span id="gt-is-480"></span>
        <span id="gt-is-667"></span>
        <span id="gt-is-768"></span>
        <span id="gt-is-1024"></span>
        <span id="gt-is-1231"></span>
        //= ../main_menu/code

        <div class="gt-wrapper" id = "gt-wrapper">