<div class="container">
    <div class="gt-footer-top">
        <div class="gt-footer-text  gt-xs-order-2">
            <p>
                GoToTrip - это информационный сервис для
                путешественников, предоставляющий детальную
                информацию о достопримечательностях мира,
                а также позволяющий забронировать все
                необходимые сопутствующие услуги
            </p>
            <a href=".#">Условия и положения</a>
            <a href=".#">Политика конфиденциальности</a>

        </div>
        <div class="gt-footer-menu">
            <ul>
                <li><a href=".#">Европа</a></li>
                <li><a href=".#">Азия</a> </li>
                <li><a href=".#">Африка</a> </li>
                <li><a href=".#">Северная Америка</a> </li>
                <li><a href=".#">Южная Америка</a> </li>
                <li><a href=".#">Австралия и Океания</a> </li>
            </ul>
        </div>
        <div class="gt-footer-menu">
            <ul>
                <li><a href=".#">Чудеса света</a></li>
                <li><a href=".#">ТОП 100</a></li>
                <li><a href=".#">Лучшие подборки</a></li>
                <li><a href=".#">Видео</a></li>
                <li><a href=".#">Новости</a></li>
                <li><a href=".#">Публикации</a></li>

            </ul>
        </div>
        <div class="gt-footer-subscribe">
            <p>Подписаться на новости</p>
            <form action="">
                <input type="text" id = "gt-footer-subscribe" placeholder="Введите свой email">
                <input type="submit" id="gt-footer-submit">
                <label for="gt-footer-submit">
                    <i class="fa fa-angle-right fa-2x"></i>
                </label>
            </form>
            <div class="gt-footer-social-link">
                <ul>
                    <li><a href="https://www.facebook.com"  rel="nofollow" target="_blank"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                    <li><a href="https://www.instagram.com" rel="nofollow" target="_blank"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                    <li ><a href="https://www.youtube.com"  rel="nofollow" target="_blank"><i class="fab fa-youtube" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>


    </div>
    <div class="gt-footer-copyright">
    <p>© 2015-2017 GoToTrip. Полное или частичное использование материалов разрешается только при условии наличия прямой гиперссылки на адрес сайта www.gototrip.com </p>
    </div>
</div>