<div id = "gt-partnership-menu" class="gt-article-table">
    <div class="gt-active" data-href = "gt-partnership-avia"><span>Авиабилеты</span></div>
    <div data-href="gt-partnership-hotels"><span>Отели</span></div>
    <div data-href="gt-partnership-cars"><span>Прокат авто</span></div>
    <div data-href="gt-partnership-train"><span>Ж/д и автобусы</span></div>
    <div data-href="gt-partnership-cruises"><span>Круизы</span></div>
    <div data-href="gt-partnership-hot"><span>Горящие туры</span></div>
    <div data-href="gt-partnership-insurance"><span>Страхование</span></div>
    <div data-href="gt-partnership-visas"><span>Визы</span></div>
</div>