<div class="gt-partnership-item">
    <a href="./" class="gt-partnership-item-img" style="background-image: url(../assets/images/partnership_page/partnership-item-1.png')">

    </a>
    <div class="gt-partnership-item-text">
        <p>
            На сайте Tickets.ua есть все, что необходимо для организации
            любого путешествия.
        </p> <p>
        Вы можете купить билеты на самолет,
        поезд, "Аэроэкспресс", забронировать отель, приобрести
        страховку, заказать трансфер или взять автомобиль напрокат.
        Бронируйте онлайн, экономьте время и деньги.
    </p>

    </div>
</div>