<div class="gt-partnership-header">
    <div class="gt-partnership-header-top">
        <h1>ПОЛЕЗНЫЕ СЕРВИСЫ</h1>

        <span class="gt-partnership-column-icon" id="gt-partnership-column"></span>
        <span class="gt-partnership-row-icon" id="gt-partnership-row"></span>
    </div>
    <p>
        Сюда надо какой-то красивый текст о партнерах, как мы сотрудничаем, главное не
        говорить о партнерских программах и сколько денег коммисия за переход,
        и не верстать эту страницу с этим текстом чтоб потом кто-то не забыл поменять и мы
        не остались с этим текстом на этой странице. Пока)
    </p>
    <p>
        Сюда надо какой-то красивый текст о партнерах, как мы сотрудничаем, главное не
        говорить о партнерских программах и сколько денег коммисия за переход,
        и не верстать эту страницу с этим текстом чтоб потом кто-то не забыл поменять и мы
        не остались с этим текстом на этой странице. Пока)
    </p>

</div>