<div id="gt-partnership" class="gt-partnership">
    //= ./_partnership-header
    <div id = "gt-partnership-avia" class="gt-partnership-outer">
        <div class="gt-partnership-outer-header">
            <h2>Авиабилеты</h2>
        </div>
        <div class="gt-partnership-inner">
            //= ./_partnership-item
            //= ./_partnership-item-1
            //= ./_partnership-item-2
            //= ./_partnership-item-3

        </div>
    </div>
    <div id = "gt-partnership-hotels" class="gt-partnership-outer">
        <div class="gt-partnership-outer-header">
            <h2>Отели</h2>
        </div>
        <div class="gt-partnership-inner">
            //= ./_partnership-item
            //= ./_partnership-item-1
            //= ./_partnership-item-2
            //= ./_partnership-item-3
            //= ./_partnership-item-2
            //= ./_partnership-item-1
            //= ./_partnership-item
            //= ./_partnership-item-1
            //= ./_partnership-item-3
            //= ./_partnership-item-3
            //= ./_partnership-item-2
            //= ./_partnership-item
            //= ./_partnership-item-1
            //= ./_partnership-item-2
            //= ./_partnership-item
            //= ./_partnership-item
            //= ./_partnership-item-1
        </div>
    </div>
    <div id = "gt-partnership-cars" class="gt-partnership-outer">
        <div class="gt-partnership-outer-header">
            <h2>Прокат авто</h2>
        </div>
        <div class="gt-partnership-inner">
            //= ./_partnership-item
            //= ./_partnership-item-1
            //= ./_partnership-item-2
            //= ./_partnership-item-3
            //= ./_partnership-item-2
            //= ./_partnership-item-1
            //= ./_partnership-item
            //= ./_partnership-item-1
            //= ./_partnership-item-3
            //= ./_partnership-item-3
            //= ./_partnership-item-2
            //= ./_partnership-item
            //= ./_partnership-item-1
            //= ./_partnership-item-2
            //= ./_partnership-item
            //= ./_partnership-item
            //= ./_partnership-item-1
        </div>
    </div>
    <div  id = "gt-partnership-train" class="gt-partnership-outer">
        <div class="gt-partnership-outer-header">
            <h2>Ж/д и автобусы</h2>
        </div>
        <div class="gt-partnership-inner">
            //= ./_partnership-item
            //= ./_partnership-item-1
            //= ./_partnership-item-2
            //= ./_partnership-item-3
            //= ./_partnership-item-2
            //= ./_partnership-item-1
            //= ./_partnership-item
            //= ./_partnership-item-1
            //= ./_partnership-item-3

        </div>
    </div>
    <div   id = "gt-partnership-cruises" class="gt-partnership-outer">
        <div class="gt-partnership-outer-header">
            <h2>Круизы</h2>
        </div>
        <div class="gt-partnership-inner">
            //= ./_partnership-item
            //= ./_partnership-item-1
            //= ./_partnership-item-2
            //= ./_partnership-item-3
            //= ./_partnership-item-2
            //= ./_partnership-item-1

        </div>
    </div>
    <div  id = "gt-partnership-hot" class="gt-partnership-outer">
        <div class="gt-partnership-outer-header">
            <h2>Горящие туры</h2>
        </div>
        <div class="gt-partnership-inner">
            //= ./_partnership-item
            //= ./_partnership-item-1

        </div>
    </div>
    <div  id = "gt-partnership-insurance"  class="gt-partnership-outer">
        <div class="gt-partnership-outer-header">
            <h2>Страхование</h2>
        </div>
        <div class="gt-partnership-inner">
            //= ./_partnership-item
            //= ./_partnership-item-1
            //= ./_partnership-item-2
            //= ./_partnership-item-3
            //= ./_partnership-item-2
            //= ./_partnership-item-1
            //= ./_partnership-item
            //= ./_partnership-item-1
            //= ./_partnership-item-3
            //= ./_partnership-item-3
            //= ./_partnership-item-2
            //= ./_partnership-item
            //= ./_partnership-item-1
            //= ./_partnership-item-2
            //= ./_partnership-item
            //= ./_partnership-item
            //= ./_partnership-item-1
        </div>
    </div>
    <div id = "gt-partnership-visas" class="gt-partnership-outer">
        <div class="gt-partnership-outer-header">
            <h2>Визы</h2>
        </div>
        <div class="gt-partnership-inner">
            //= ./_partnership-item
            //= ./_partnership-item-1
            //= ./_partnership-item-2

        </div>
    </div>
</div>

