<div id='gt-search-block' class="gt-search-block-wrapper gt-inner-scroll">
    <div class="container gt-search-block-close">
        <span id="gt-search-block-close" >закрыть</span>
    </div>
    <div class="container gt-column">
        <p class="gt-search-block-header">
            ПОИСК
        </p>
        <div class="gt-search-block-form-wrapper">
            <form id="gt-search-block-form" class="gt-search-block-form">
                <input
                        type="text"
                        id="gt-search-block-input"
                        name="gt-search-block-input"
                        placeholder = "Введите текст поиска"
                >
                <div id="gt-search-block-clear">
                    <span></span>
                </div>
            </form>
        </div>

    </div>
    <div id='gt-search-block-result' class="gt-search-block-result gt-column">
        <div class="container">
            <ul  class="gt-search-block-menu">
                <li><span>РЕЗУЛЬТАТЫ:</span></li>
                <li><a href=".#">СТРАНА</a></li>
                <li class="gt-active"><a href=".#">ГОРОД</a></li>
                <li><a href=".#">ДОСТОПРИМЕЧАТЕЛЬНОСТЬ</a></li>
                <li><a href=".#">НОВОСТЬ</a></li>
                <li><a href=".#">ПОДБОРКА</a></li>
                <li><a href=".#">ПУБЛИКАЦИЯ</a></li>
                <li><a href=".#">ВИДЕО</a></li>
            </ul>
        </div>
            <div class="gt-link-block-city-links container">
                //= ../link_block_city/_link-block-item
                //= ../link_block_city/_link-block-item
                //= ../link_block_city/_link-block-item
            </div>   <div class="gt-link-block-city-links container">
                //= ../link_block_city/_link-block-item
                //= ../link_block_city/_link-block-item
                //= ../link_block_city/_link-block-item
            </div>

    </div>
</div>