<div class="gt-news-page container container-no-padd gt-margin">
    <div class="gt-news-page-container-two-thirds">
        <div class="gt-news-page-inner gt-news-outer gt-news-outer-white">
            //= ../news_items/_new-big-video
        </div>
        <div class="gt-news-page-inner">
            <div class="gt-news-three-block">
                //= ../news_items/_new-aside-tall
                //= ../news_items/_new-aside-tall
            </div>
        </div>
    </div>
    <div class="gt-news-page-container-one-thirds">
        <div class="gt-news-prev-big-outer">
            <h2 class="gt-article-table-header">
                ПОПУЛЯРНЫЕ
            </h2>
            //= ../news_items/_new-prew-big
            //= ../news_items/_new-prew-big
            //= ../news_items/_new-prew-big
            //= ../news_items/_new-prew-big
        </div>
    </div>
</div>
<div class="gt-news-page container container-no-padd gt-margin">
    <div class="gt-news-three-block">
        //= ../news_items/_new-aside
        //= ../news_items/_new-aside
        //= ../news_items/_new-aside
        //= ../news_items/_new-aside
    </div>
</div>
<div class="gt-news-page container container-no-padd gt-margin">
    <div class="gt-news-page-container-two-thirds">
        <div class="gt-news-page-inner gt-news-outer gt-news-outer-white">
            //= ../news_items/_new-big-video
        </div>

    </div>
    <div class="gt-news-page-container-one-thirds">
        <div class="gt-news-prev-big-outer">
            //= ../news_items/_new-prew-big
            //= ../news_items/_new-prew-big
        </div>
    </div>
</div>
<div class="gt-news-page container container-no-padd gt-margin">
    <div class="gt-news-three-block">
        //= ../news_items/_new-aside-tall
        //= ../news_items/_new-aside-tall
        //= ../news_items/_new-aside-tall
    </div>
</div>
<div class="gt-news-page container container-no-padd gt-margin">
    <div class="gt-news-page-container-two-thirds">
        <div class="gt-news-page-inner gt-news-outer gt-news-outer-white">
            //= ../news_items/_new-big-video
        </div>

    </div>
    <div class="gt-news-page-container-one-thirds">
        //= ../news_items/_new-aside-tall
    </div>
</div>
<div class="gt-news-page container container-no-padd gt-margin">
    <div class="gt-news-three-block">
        //= ../news_items/_new-aside
        //= ../news_items/_new-aside
        //= ../news_items/_new-aside
        //= ../news_items/_new-aside
    </div>
</div>

//= ../read_more/index