<div class="container gt-news-container gt-margin">

    <div class="gt-news-outer gt-news-outer-small">
        //= ../news_items/_new-img
    </div>
    <div class="gt-news-outer gt-news-outer-small gt-news-outer-margin-xxs">
        //= ../news_items/_new-img
    </div>
    <div class="gt-news-outer gt-news-outer-small gt-news-outer-margin-sm">
        //= ../news_items/_new-img
    </div>
    <div class="gt-news-outer gt-news-outer-small gt-news-outer-margin-sm gt-news-outer-height-xxs">
        //= ../news_items/_new-plane
    </div>
</div>