<div class="container gt-news-container gt-margin">
    <div class="gt-news-outer gt-news-outer-small gt-sm-order-2 gt-news-outer-margin-sm">
        //= ../news_items/_new-prew
        //= ../news_items/_new-prew
        //= ../news_items/_new-prew
        //= ../news_items/_new-prew
        //= ../news_items/_new-prew
    </div>
    <div class="gt-news-outer gt-news-outer-big">
        //= ../news_items/_new-big-date
    </div>
    <div class="gt-news-outer gt-news-outer-small gt-sm-order-2  gt-news-outer-margin-sm">
        //= ../news_items/_new-small
    </div>
</div>






