<div class="gt-button-menu-wrapper gt-margin">
    <div class="container">
        <ul class="gt-button-menu">
                <li><a href=".#">Древняя архитектура</a></li>
                <li><a href=".#">Дворцы и музеи</a></li>
                <li class="gt-active"><a href=".#">Храмы и монастыри</a></li>
                <li><a href=".#">Сооружения и памятники</a></li>
                <li><a href=".#">Площади и улицы </a></li>
                <li><a href=".#">Трам-парам-парам</a></li>
        </ul>
    </div>
</div>