<div class="gt-top gt-bgs-holdermain-page-top gt-img-holder" data-bg="main_page/main-top-bg.png">
    <div class="container">
        <div class="gt-top-inner">
            <div>
                <h1 class="gt-top-inner-lg">Истинное назначение
                    путешествия – это не
                    место на карте, а новый
                    взгляд на жизнь
                </h1>
                <div class="white-line"></div>
                <p class="gt-top-inner-sm">Генри Миллер</p>
            </div>
        </div>
    </div>
</div>



