<div  id = "gt-article-2" class="gt-article">
    <h2>-2</h2>
      <p>
          <img src= "../assets/images/paris/article-img.png" alt="alt" class="gt-img-left" width = "571" height="356">
          La Ville de Paris lance un appel public à manifestation d’intentions visant à identifier, conformément aux dispositions du sixième alinéa du I de l’article L. 1425-1 du CGCT, les initiatives privées propres à satisfaire les besoins des utilisateurs finals en services de communications électroniques, consistant en la fourniture au public d’un service d’accès à Internet gratuit par hot spots Wi-Fi en différents points du territoire de Paris.
          Tout opérateur souhaitant répondre doit être en mesure de satisfaire l’ensemble des besoins et exigences exprimés dans les documents de référence ci-dessous.
          Les documents de référence constituant le dossier de la présente consultation sont les suivants :
          Les documents de référence constituant le dossier de la présente consultation sont les suivants :
          Les documents de référence constituant le dossier de la présente consultation sont les suivants :
          Les documents de référence constituant le dossier de la présente consultation sont les suivants :
          Les documents de référence constituant le dossier de la présente consultation sont les suivants :
          Les documents de référence constituant le dossier de la présente consultation sont les suivants :
          Les documents de référence constituant le dossier de la présente consultation sont les suivants :
      </p>
      <p>
          La Ville de Paris lance un appel public à manifestation d’intentions visant à identifier, conformément aux dispositions du sixième alinéa du I de l’article L. 1425-1 du CGCT, les initiatives privées propres à satisfaire les besoins des utilisateurs finals en services de communications électroniques, consistant en la fourniture au public d’un service d’accès à Internet gratuit par hot spots Wi-Fi en différents points du territoire de Paris.
          Tout opérateur souhaitant répondre doit être en mesure de satisfaire l’ensemble des besoins et exigences exprimés dans les documents de référence ci-dessous.
          Les documents de référence constituant le dossier de la présente consultation sont les suivants :

      </p>
      <p>
          La Ville de Paris lance un appel public à manifestation d’intentions visant à identifier, conformément aux dispositions du sixième alinéa du I de l’article L. 1425-1 du CGCT, les initiatives privées propres à satisfaire les besoins des utilisateurs finals en services de communications électroniques, consistant en la fourniture au public d’un service d’accès à Internet gratuit par hot spots Wi-Fi en différents points du territoire de Paris.
          Tout opérateur souhaitant répondre doit être en mesure de satisfaire l’ensemble des besoins et exigences exprimés dans les documents de référence ci-dessous.
          Les documents de référence constituant le dossier de la présente consultation sont les suivants :

      </p>

  </div>