<div class="gt-article-wrapper gt-margin">
    <div class="container container-no-padd">
        <div class="gt-article-outer gt-margin">
            //= ./_article-publish-header
            //= ./_article-full
            //= ../video_block/_video-block
            //= ../share_block/share-block
            //= ../news_block/news-block-header-read-more
            //= ../news_block/news-block-aside-aside-aside
            //= ../news_block/news-block-prew-big-prew-big-big
            //= ../read_more/read-more
            <!-- ** -->
        </div>
        <div class="gt-article-table-wrapper gt-margin">
            <h2 class="gt-article-table-header">
                НОВОСТИ ПО ТЕМЕ
            </h2>
            //= ../news_items/_new-aside
            //= ../news_block/news-block-aside-prew-block
            //= ../news_items/_new-aside
        </div>
    </div>
</div>
    