<!--src/templates/column_page/paris-article.html START-->

<div class="gt-article-wrapper gt-margin">
    <div class="container container-no-padd">
        <div class="gt-article-outer">
            //= ./_article-full
        </div>
        <div class="gt-article-table-wrapper">
            //= ./_article-aside-menu
            //= ../news_video_block/news-block-aside-prew-block
        </div>
    </div>
    <!--<div class="container">-->
        <!--//= ../view_cards/paris-page-->
    <!--</div>-->
</div>

<!--src/templates/column_page/paris-article.html END-->