<div class="gt-article-wrapper gt-margin">
    <div class="container container-no-padd">
        <div class="gt-article-outer">
            //= ./_article-img-left-0
            //= ./_article-img-left-1
            //= ./_article-img-left-2
            //= ./_article-img-left-3
            //= ./_article-img-left-4
            //= ./_article-img-left-5
        </div>
        <div class="gt-article-table-wrapper">
                //= ./_article-table
        </div>
    </div>
</div>
<div class="container  gt-column gt-margin">
    //= ../view_cards/paris-page
</div>
