<div class="gt-article-wrapper gt-margin">
    <div class="container container-no-padd">
        <div class="gt-article-table-wrapper gt-article-table-wrapper-left">
            //= ../partnership/_partnership-menu
        </div>
        <div class="gt-article-outer-half">
            //= ../partnership/partnership-page
        </div>
        <div class="gt-article-table-wrapper">
            <h2 class="gt-article-table-header">
               Акции
            </h2>
            //= ../news_block/news-block-aside-prew-block-unlimited


            //= ../read_more/show-more

        </div>
    </div>
</div>
