<div class="gt-must container gt-margin">
    <div class="gt-must-left gt-box-shadow">


//= ./video

    </div>
    <div class="gt-must-right">
        <div class="gt-must-right-outer">
            <div class="gt-must-right-inner gt-inner-scroll gt-scroll-cursor-custom">
                <div class="gt-inner-scroll-inner gt-must-right-inner-text">
                    <h2><span class="gt-a-news gt-black">10 вещей которые нужно сделать в Франции</span></h2>
                    <ul>
                        <li>
                            <p> Выпить шампанского в «Мулен Руж», глядя на полуобнаженных красавиц Выпить шампанского в
                                «Мулен Руж», глядя на полуобнаженных красавиц</p>
                        </li>
                        <li>
                            <p> Выпить шампанского в «Мулен Руж», глядя на полуобнаженных красавиц Выпить шампанского в
                                «Мулен Руж», глядя на полуобнаженных красавиц</p>
                        </li>
                        <li>
                            <p> Выпить шампанского в «Мулен Руж», глядя на полуобнаженных красавиц Выпить шампанского в
                                «Мулен Руж», глядя на полуобнаженных красавиц</p>
                        </li>
                        <li>
                            <p> Выпить шампанского в «Мулен Руж», глядя на полуобнаженных красавиц Выпить шампанского в
                                «Мулен Руж», глядя на полуобнаженных красавиц</p>
                        </li>
                        <li>
                            <p> Выпить шампанского в «Мулен Руж», глядя на полуобнаженных красавиц Выпить шампанского в
                                «Мулен Руж», глядя на полуобнаженных красавиц</p>
                        </li>
                        <li>
                            <p> Выпить шампанского в «Мулен Руж», глядя на полуобнаженных красавиц Выпить шампанского в
                                «Мулен Руж», глядя на полуобнаженных красавиц</p>
                        </li>
                        <li>
                            <p> Выпить шампанского в «Мулен Руж», глядя на полуобнаженных красавиц Выпить шампанского в
                                «Мулен Руж», глядя на полуобнаженных красавиц</p>
                        </li>
                        <li>
                            <p> Выпить шампанского в «Мулен Руж», глядя на полуобнаженных красавиц Выпить шампанского в
                                «Мулен Руж», глядя на полуобнаженных красавиц</p>
                        </li>
                        <li>
                            <p> Выпить шампанского в «Мулен Руж», глядя на полуобнаженных красавиц Выпить шампанского в
                                «Мулен Руж», глядя на полуобнаженных красавиц</p>
                        </li>
                        <li>
                            <p> Выпить шампанского в «Мулен Руж», глядя на полуобнаженных красавиц Выпить шампанского в
                                «Мулен Руж», глядя на полуобнаженных красавиц</p>
                        </li>
                    </ul>
                </div>


            </div>


        </div>
    </div>
</div>