<div class="gt-slider-inner">
    <div class="gt-slider-inner-outer">
        <div class="gt-slider-inner-img">
            <div class="gt-img-holder-abs">
                <img
                        class="lazy"
                        src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
                        data-src= "../assets/images/bottom_slider/bottom-slider-2.png"
                        alt=""
                >
            </div>
        </div>
        <div class="gt-slider-inner-text">
            <div class="gt-slider-inner-text-header">
                <h2>Шоппинг во Франции</h2>
            </div>

            <p class="gt-read-more-slider-text-inner">Франция являеться мировым лидером в области предметов розкоши, в
                том числе модных аксессуаров, парфумерии и косметики, привлекая туристов в просторные торговые центры и
                элитные брендовые бутики. еще одна строчка но не надо</p>
        </div>
        <div class="gt-slider-inner-link">
            <a class="gt-btn gt-btn-30 gt-btn-plane" href="#">Подробнее</a>
        </div>
    </div>
</div>