<div class="container">
    <div class="gt-text-block gt-black">
        <h2>Особенности и традиции Франции</h2>
        <p>Каждая страна, любая нация определяеться особенностями своих традиций и обычаев, вызывая присущие только ей ассоциации. Франция обладает элегантность, иысканностью, стилем, шармом. Страна имеет неизменные традиции, которые должны держаться со сторогостью в рамках этикета. Каждая страна, любая нация определяеться особенностями своих традиций и обычаев, вызывая присущие только ей ассоциации. Франция обладает элегантность, иысканностью, стилем, шармом. Страна имеет неизменные традиции, которые должны держаться со сторогостью в рамках этикета.</p>
    </div>
</div>