<div class="gt-slider-inner">
    <div class="gt-slider-inner-outer">
        <div class="gt-slider-inner-img">
            <div class="gt-img-holder-abs">
                <img
                        class="lazy"
                        src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
                        data-src="../assets/images/bottom_slider/bottom-slider-1.png"
                        alt=""
                >
            </div>
        </div>
        <div class="gt-slider-inner-text">
            <div class="gt-slider-inner-text-header">
                <h2>Типичные блюда французской кухни</h2>
            </div>
            <p class="gt-read-more-slider-text-inner">Франция – колыбель изысканной кухни. Местные рестораны становятся
                обладателями звезд Мишлен, а французские повара являются основателями лучших кулинарных традиций.</p>
        </div>
        <div class="gt-slider-inner-link">
            <a class="gt-btn gt-btn-30 gt-btn-plane" href="#">Подробнее</a>
        </div>
    </div>
</div>