<div
        class="gt-read-more-slider gt-margin gt-bgs-holder"
        data-src-desctop="read-more-slider-1920.png"
        data-src-tablet="read-more-slider-1024.png"
        data-src-phone="read-more-slider-600.png"
>





    //= ./_slider-more-header-1
    <div class="container container-no-padd">
        <div class="gt-slider gt-slider-has-arrow gt-slider-tram gt-slider-no-padding" data-count="3">
            <div class="gt-slider-container">
                //= _slider-more-item
                //= _slider-more-item-1
                //= _slider-more-item-2
                //= _slider-more-item
                //= _slider-more-item-1
                //= _slider-more-item-2
            </div>
        </div>
    </div>
</div>
