<div class="gt-article-wrapper gt-margin">
    <div class="container container-no-padd">
        <div class="gt-article-outer gt-article-outer-option gt-margin">
            <div class="gt-news-page-inner gt-news-outer gt-news-outer-white">
                //= ../news_video_items/_video-big
            </div>
            <div class="gt-news-page-inner">
                <div class="gt-news-three-block">
                    //= ../news_video_items/_video-small
                    <!-- // -->
                    //= ../news_video_items/_video-small
                </div>
            </div>
            <div class="gt-news-page-inner">
                <div class="gt-news-three-block">
                    //= ../news_video_items/_video-small
                    <!-- // -->
                    //= ../news_video_items/_video-small
                </div>
            </div>
            <div class="gt-news-page-inner">
                <div class="gt-news-three-block">
                    //= ../news_video_items/_video-small
                    <!-- // -->
                    //= ../news_video_items/_video-small
                </div>
            </div>
            <div class="gt-news-page-inner">
                <div class="gt-news-three-block">
                    //= ../news_video_items/_video-small
                    <!-- // -->
                    //= ../news_video_items/_video-small
                </div>
            </div>
        </div>
        <div class="gt-article-table-wrapper gt-article-table-wrapper-option gt-margin">
            <h2 class="gt-article-table-header">
                Популярные видео
            </h2>
            //= ../news_video_items/_video-prew-small
            <!-- // -->
            //= ../news_video_items/_video-prew-small
        </div>
    </div>
</div>