<div class="gt-slider-horizontal container gt-margin">
    <div class="gt-slider gt-slider-has-arrow gt-slider-tram gt-slider-has-clone" data-count="4">
        <div class="gt-slider-container">
            <div class="gt-slider-inner">
                <div class="gt-img-holder-abs">
                    <img
                            class="lazy"
                            src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
                            data-src= "../assets/images/gaudi_slider/sagrada-familya-25.png"
                            alt=""
                    >

                </div>
                <div class="gt-slider-inner-cover">
                    <p>Париж Париж Париж Париж Париж Париж Париж Париж Париж Париж Париж Париж Париж Париж Париж Париж
                        Париж Париж Париж Париж Париж Париж Париж Париж Париж Париж Париж Париж Париж Париж Париж Париж
                        Париж Париж </p>
                </div>
            </div>
            <div class="gt-slider-inner">
                <div class="gt-img-holder-abs">
                    <img
                            class="lazy"
                            src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
                            data-src= "../assets/images/gaudi_slider/casa-mila-01.png"
                            alt=""
                    >

                </div>
                <div class="gt-slider-inner-cover">
                    <p>Миха - молодец!</p>
                </div>
            </div>
            <div class="gt-slider-inner">
                <div class="gt-img-holder-abs">
                    <img
                            class="lazy"
                            src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
                            data-src= "../assets/images/gaudi_slider/sagrada-familya-25.png"
                            alt=""
                    >

                </div>
                <div class="gt-slider-inner-cover">
                    <p>Париж</p>
                </div>
            </div>
            <div class="gt-slider-inner">
                <div class="gt-img-holder-abs">
                    <img
                            class="lazy"
                            src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
                            data-src= "../assets/images/gaudi_slider/casa-mila-01.png"
                            alt=""
                    >

                </div>
                <div class="gt-slider-inner-cover">
                    <p>Париж</p>
                </div>
            </div>
            <div class="gt-slider-inner">
                <div class="gt-img-holder-abs">
                    <img
                            class="lazy"
                            src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
                            data-src= "../assets/images/gaudi_slider/sagrada-familya-25.png"
                            alt=""
                    >

                </div>
                <div class="gt-slider-inner-cover">
                    <p>Париж</p>
                </div>
            </div>
            <div class="gt-slider-inner">
                <div class="gt-img-holder-abs">
                    <img
                            class="lazy"
                            src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
                            data-src= "../assets/images/gaudi_slider/casa-mila-01.png"
                            alt=""
                    >

                </div>
                <div class="gt-slider-inner-cover">
                    <p>Париж</p>
                </div>
            </div>
            <div class="gt-slider-inner">
                <div class="gt-img-holder-abs">
                    <img
                            class="lazy"
                            src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
                            data-src= "../assets/images/gaudi_slider/sagrada-familya-25.png"
                            alt=""
                    >

                </div>
                <div class="gt-slider-inner-cover">
                    <p>Париж</p>
                </div>
            </div>
            <div class="gt-slider-inner">
                <div class="gt-img-holder-abs">
                    <img
                            class="lazy"
                            src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
                            data-src= "../assets/images/gaudi_slider/casa-mila-01.png"
                            alt=""
                    >

                </div>
                <div class="gt-slider-inner-cover">
                    <p>Париж</p>
                </div>
            </div>
            <div class="gt-slider-inner">
                <div class="gt-img-holder-abs">
                    <img
                            class="lazy"
                            src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
                            data-src= "../assets/images/gaudi_slider/sagrada-familya-25.png"
                            alt=""
                    >

                </div>
                <div class="gt-slider-inner-cover">
                    <p>Париж</p>
                </div>
            </div>
            <div class="gt-slider-inner">
                <div class="gt-img-holder-abs">
                    <img
                            class="lazy"
                            src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
                            data-src= "../assets/images/gaudi_slider/casa-mila-01.png"
                            alt=""
                    >

                </div>
                <div class="gt-slider-inner-cover">
                    <p>Париж</p>
                </div>
            </div>

        </div>
    </div>
</div>
