<div class="gt-link-block-city-links-item">
    <div class="gt-link-block-city-links-item-img gt-img-holder-abs">
        <img
                class="lazy"
                src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
                data-src="../assets/images/country/country-link-3.png"
                alt=""
        >
        <div class="gt-link-block-city-links-item-img-a">
            <a href="/city-paris.html">Подробнее</a>
        </div>
    </div>
    <div class="gt-link-block-city-links-item-text">
        <span><a href="/city-paris.html" class="gt-a-news">Париж</a></span>
        <p>Париж — один из самых привлекательных городов мира,
            принимающий миллионы гостей, стремящихся</p>
    </div>
</div>