<div class="gt-link-block-city-text container">
    <h2>
        Популярные города Франции
    </h2>
    <p>
        Франция страна по европейским меркам большая и, главное, очень разнообразная. Шикарные пляжи Лазурного побережья, заснеженные курорты Альп и Пиренеев, древние замки Луары, бесчисленные музеи и памятники архитектуры – все это Франция. Безусловным лидером среди популярных туристических направлений является Париж. Предпочитаемыми для пляжного отдыха остаются Ницца и Канны. Многочисленные виды отдыха на открытом воздухе предлагает прекрасный горнолыжный курорт Шамони. Своей уникальной застройкой привлекает путешественников средневековый Страсбург.
    </p>
</div>