<div class="gt-top-card-wrapper">

    <div class="gt-top-card gt-icon-pin">
        <p>Франция <span>и еще<i>+3</i></span></p>

    </div>
    <div class="gt-top-card gt-icon-visit">
        <p>Был, видел</p>
    </div>
    <div class="gt-top-card gt-icon-pin-plus">
        <p>Хочу посетить</p>
    </div>
    <div class="gt-top-card gt-icon-share">
        <p><span>Поделиться</span>
            <a href=".#"><i class="fab fa-facebook-f"></i></a>
            <a href=".#"><i class="fab fa-twitter"></i></a>
            <a href=".#"><i class="fab fa-google-plus-g"></i></a>
            <a href=".#"><i class="fab fa-pinterest-p"></i></a></p>
    </div>
    <div class="gt-top-card  gt-icon-bookmarks">
        <p>Добавить в закладки</p>
    </div>
</div>