<header class="gt-header gt-not-registered">
<!--<header class="gt-header gt-registered">-->
    <div class="gt-header-mobile-menu">
        <ul class="container">
            <li><a href="/map-country.html">Страны мира</a></li>
            <li><a href="/guide.html">Путеводитель</a></li>
            <li><a href="/news-page.html">Новости</a></li>
            <li><a href="/collections.html">Подборки</a></li>
            <li><a href="/video.html">Видео</a></li>
            <li><a href="/publications.html">Публикации</a></li>
            <li class="gt-enter  gt-not-registered"><span>Вход</span></li>
            <li class="gt-enter gt-registered"><span>Длинноеимя</span></li>
        </ul>
        <div class="gt-header-social-link container">
            <a href="https://www.facebook.com" rel="nofollow" target="_blank">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://www.instagram.com" rel="nofollow" target="_blank">
                <i class="fab fa-instagram"></i>

            </a>
            <a href="https://www.youtube.com" rel="nofollow" target="_blank">
                <i class="fab fa-youtube"></i>

            </a>
        </div>
    </div>
    <div class="gt-header-top">
        <div class="container">
            <div class="gt-search-holder">
                <span class="gt-search-button gt-open-search"></span>
            </div>
            <div class="gt-header-logo">
                <a class="gt-logo" href="/"><img src="../assets/images/logo-white.svg" alt="GoToTrip"></a>
            </div>
            <div class="gt-header-switch-holder">
                <div id="gt-mobile-menu-switch" class="gt-switch gt-switch-main">
                    <span class="line line-1"></span>
                    <span class="line line-2"></span>
                    <span class="line line-3"></span>
                </div>
            </div>
            <!--<div class="gt-header-enter test"></div>-->
            <div class="gt-header-menu">
                <ul>
                    <li><a href="/map-country.html">Страны мира</a></li>
                    <li><a href="/guide.html">Путеводитель</a></li>
                    <li class="gt-active"><a href="/news-page.html">Новости</a></li>
                    <li><a href="/collections.html">Подборки</a></li>
                    <li><a href="/video.html">Видео</a></li>
                    <li><a href="/publications.html">Публикации</a></li>
                    <li class="gt-enter  gt-not-registered"><span>Вход</span></li>
                    <li class="gt-enter gt-registered"><span>Длинноеимя</span></li>
                    <li><span class="gt-search-button gt-open-search"></span></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="gt-header-enter-wrapper" class="gt-header-enter-wrapper container">
        <div id="gt-header-enter" class="gt-header-enter gt-chosen-registration">
            <div class="gt-header-enter-switch-holder">
                <div id="gt-header-enter-close" class="gt-switch">
                    <span class="line line-1"></span>
                    <!--<span class="line line-2"></span>-->
                    <span class="line line-3"></span>
                </div>
            </div>
            <div class="gt-header-enter-chose gt-not-registered">
                <ul id="gt-header-enter-chose">
                    <li class="gt-chosen-registration">
                        Регистрация
                    </li>
                    <li class="gt-chosen-enter">
                        Вход
                    </li>
                </ul>
            </div>
            <div class="gt-header-enter-form-wrapper gt-not-registered">
                <form id="gt-enter-form" name="gt-enter-form" class="gt-header-enter-form">
                    <div class="gt-header-enter-form-social">
                        <i id="gt-enter-form-facebook" class="fab fa-facebook-f" aria-hidden="true"></i>
                        <i id="gt-enter-form-twitter" class="fab fa-twitter" aria-hidden="true"></i>
                        <i id="gt-enter-form-google" class="fab fa-google-plus-g" aria-hidden="true"></i>
                    </div>
                    <div class="gt-input-wrapper">
                        <input type="text" id="gt-enter-name" placeholder="Логин или E-mail">
                    </div>
                    <div class="gt-input-wrapper">
                        <input type="password" id="gt-enter-pass" placeholder="Пароль">
                    </div>
                    <div class="gt-header-enter-form-inner">
                        <div class="gt-header-enter-form-text">
                            <input type="checkbox" id="gt-enter-form-remember-me" class="gt-enter-form-remember-me">
                            <label for="gt-enter-form-remember-me">Запомнить меня</label>
                        </div>
                        <div class="gt-header-enter-form-submit">
                            <input type="text" class="gt-btn" id="gt-enter-form-submit">
                            <label for="gt-enter-form-submit" class="gt-btn gt-btn-whitest">Зарегистрироваться</label>
                        </div>
                        <div class="gt-header-enter-form-text">
                            <span class="gt-enter-form-remember-pass" id="gt-enter-form-restore-pass">
                                Наполнить пароль
                            </span>
                        </div>
                    </div>
                </form>
                <form id="gt-reg-form" name="gt-enter-form" class="gt-header-enter-form">
                    <div class="gt-header-enter-form-social">
                        <i id="gt-reg-form-facebook" class="fab fa-facebook-f" aria-hidden="true"></i>
                        <i id="gt-reg-form-twitter" class="fab fa-twitter" aria-hidden="true"></i>
                        <i id="gt-reg-form-google" class="fab fa-google-plus-g" aria-hidden="true"></i>

                    </div>
                    <div class="gt-input-wrapper">
                        <input type="text" id="gt-reg-name" placeholder="Логин" title="Не более 10 знаков">
                    </div>
                    <div class="gt-input-wrapper">
                        <input type="text" id="gt-reg-email" placeholder="E-mail">
                    </div>
                    <div class="gt-input-wrapper">
                        <input type="password" id="gt-reg-pass" placeholder="Пароль">
                    </div>
                    <div class="gt-header-enter-form-submit">
                        <input type="text" class="gt-btn" id="gt-reg-form-submit">
                        <label for="gt-reg-form-submit" class="gt-btn gt-btn-whitest">Зарегистрироваться</label>
                    </div>
                </form>
            </div>
        </div>
        <div id='gt-enter-pass-restore-wrapper'
             class="gt-header-enter  gt-not-registered gt-enter-pass-restore-wrapper">
            <div class="gt-header-enter-form-wrapper ">
                <form id="gt-enter-pass-restore" name="gt-enter-pass-restore" class="gt-header-enter-form">
                    <div class="gt-header-enter-form-text">
                        <p>Восстановить пароль</p>
                    </div>
                    <div class="gt-input-wrapper">
                        <input type="text" id="gt-enter-pass-restore-name" placeholder="E-mail">
                    </div>

                    <div class="gt-header-enter-form-submit">
                        <input type="text" class="gt-btn" id="gt-enter-pass-restore-submit">
                        <label for="gt-enter-pass-restore-submit" class="gt-btn gt-btn-whitest">Отправить</label>
                    </div>
                </form>
            </div>
        </div>
        <div id = "gt-header-registered" class="gt-header-enter gt-registered">
            <ul>
                <li><a href=".#">Лента</a></li>
                <li><a href=".#">Сообщения</a></li>
                <li><a href=".#">Оповещения</a></li>
                <li><a href=".#">Был, видел</a></li>
                <li><a href=".#">Хочу посетить</a></li>
                <li><a href=".#">Публикации</a></li>
                <li><a href=".#">Закладки</a></li>
                <li><a href=".#">События</a></li>
                <li><a href=".#">Настройки</a></li>
                <li><a href=".#">Выйти</a></li>
            </ul>

        </div>
    </div>
</header>
