<!--src/templates/main_menu/code.html START-->

<header class="gt-header">
  
    <div class="gt-header-top">
        <div class="container">
            <div class="gt-search-holder">
                <span class="gt-search-button gt-open-search"></span>
            </div>
            <div class="gt-header-logo">
                <a class="gt-logo" href="/">
                    <img src="../images/logo-white.svg" alt="GoToTrip">
                </a>
            </div>
            <div class="gt-header-switch-holder">
                <div id="gt-mobile-menu-switch" class="gt-switch gt-switch-main">
                    <span class="line line-1"></span>
                    <span class="line line-2"></span>
                    <span class="line line-3"></span>
                </div>
            </div>

//= mobile-menu
//= main-menu
        </div>
    </div>
    <div id="gt-header-enter-wrapper" class="gt-header-enter-wrapper container">
    //= main-menu-reg-partial
    //= main-menu-not-reg-partial

    </div>
</header>


<!--src/templates/main_menu/code.html END-->