<div class="gt-button-block-wrapper">
    <div class="gt-button-block container">
        <a class="gt-button-block-avia" href="/partnership.html">Авиабилеты</a>
        <a class="gt-button-block-hotels" href="/partnership.html">Отели</a>
        <a class="gt-button-block-carrent" href="/partnership.html">Прокат авто</a>
        <a class="gt-button-block-bus" href="/partnership.html">Ж/д и автобусы</a>
        <a class="gt-button-block-ship" href="/partnership.html">Круизы</a>
        <a class="gt-button-block-hottour" href="/partnership.html">Горящие туры</a>
        <a class="gt-button-block-insurance" href="/partnership.html">Страхование</a>
        <a class="gt-button-block-visas" href="/partnership.html">Визы</a>
    </div>
</div>
