<div class="gt-search-panel">
    <form class="gt-search-panel-form" name="gt-search" id="gt-search">
        <input type="text" class="gt-search-text" name="gt-search-text"  placeholder="Введите текст или выберите дату">
        <input type="submit" name="gt-search-submit" id="gt-search-submit">
        <input type  = "text" class="datepicker" >
        <button type="button" class="gt-datepicker-icon"></button>
        <label for="gt-search-submit" class="gt-search-button"></label>
    </form>
</div>