<div class="gt-shadow-slider container gt-margin">
    <div class="gt-shadow-slider-text">
        <p class="gt-blue">ПОДБОРКИ</p>
        <h2 class="gt-shadow-slider-header gt-black">Туристические направления Китая</h2>
        <p>Каждый регион Китая по-своему интересен и привлекателен для туриста. На кого-то производит впечатление
            уникальная древняя архитектура, кто-то восхищается культурными реликвиями музейных экспозиций, кому-то
            больше по душе завораживающие природные богатства.</p>
        <a href=".#"><span class="gt-a-news gt-a-news-animation">Читать далее</span></a>

    </div>
    <div class="gt-slider gt-slider-has-arrow gt-slider-num gt-slider-tram" data-duration='400'>
        <!--<div class="gt-slider gt-slider-has-dots gt-slider-tram">-->
        <div class="gt-slider-container">
            <div class="gt-slider-inner">
                <div class="gt-img-holder-abs gt-shadow-70">
                    <img
                            class="lazy"
                            src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
                            data-src= "../assets/images/china_slider/guilin-11.png"
                            alt="alt"
                    >
                </div>
            </div>
            <div class="gt-slider-inner">
                <div class="gt-img-holder-abs gt-shadow-70">
                    <img
                            class="lazy"
                            src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
                            data-src= "../assets/images/china_slider/sanya-09.png"
                         alt="alt"
                    >
                </div>
            </div>
            <div class="gt-slider-inner">
                <div class="gt-img-holder-abs gt-shadow-70">
                    <img
                            class="lazy"
                            src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
                            data-src= "../assets/images/china_slider/tibet-lhasa-01.png"
                            alt="alt"
                    >
                </div>
            </div>
            <div class="gt-slider-inner">
                <div class="gt-img-holder-abs gt-shadow-70">
                    <img
                            class="lazy"
                            src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
                            data-src= "../assets/images/china_slider/yabuli-06.png"
                            alt="alt"
                    >
                </div>
            </div>
        </div>
        <div class="gt-shadow-slider-text-shadow"></div>
    </div>
</div>

<!--todo не работает стралка влево-->