<div class="gt-shadow-slider container gt-margin">
    <div class="gt-shadow-slider-text">
        <p class="gt-blue">ПОДБОРКИ</p>
        <h2 class="gt-shadow-slider-header gt-black">Шедевры Антонио Гауди</h2>
        <p>Антонио Гауди является величайшим представителей модерна, его исключительное новаторство сделало Гауди
            гением, изобретателем уникального, собственного и несравненного архитектурного языка, который не поддается
            классификации.</p>
        <a href=".#"><span class="gt-a-news gt-a-news-animation">Читать далее</span></a>
    </div>
    <div class="gt-slider gt-slider-has-arrow gt-slider-num gt-slider-tram">
        <div class="gt-slider-container">
            <div class="gt-slider-inner">
                <div class="gt-img-holder-abs gt-shadow-70">
                    <img
                            class="lazy"
                            src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
                            data-src= "../assets/images/gaudi_slider/sagrada-familya-25.png"
                            alt="alt"
                    >
                </div>
            </div>
            <div class="gt-slider-inner">
                <div class="gt-img-holder-abs gt-shadow-70">
                    <img
                            class="lazy"
                            src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
                            data-src= "../assets/images/gaudi_slider/guell-colony-cripta-01.png"
                            alt="alt"
                    >
                </div>
            </div>
            <div class="gt-slider-inner">
                <div class="gt-img-holder-abs gt-shadow-70">
                    <img
                            class="lazy"
                            src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
                            data-src= "../assets/images/gaudi_slider/escuelas-sf-01.png"
                            alt="alt"
                    >
                </div>
            </div>
            <div class="gt-slider-inner">
                <div class="gt-img-holder-abs gt-shadow-70">
                    <img
                            class="lazy"
                            src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
                            data-src= "../assets/images/gaudi_slider/casa-mila-01.png"
                            alt="alt"
                    >
                </div>
            </div>
            <div class="gt-slider-inner">
                <div class="gt-img-holder-abs gt-shadow-70">
                    <img
                            class="lazy"
                            src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
                            data-src= "../assets/images/gaudi_slider/casa-botines-02.png"
                            alt="alt"
                    >
                </div>
            </div>
            <div class="gt-slider-inner">
                <div class="gt-img-holder-abs gt-shadow-70">
                    <img
                            class="lazy"
                            src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
                            data-src= "../assets/images/gaudi_slider/casa-botines-02.png"
                            alt="alt"
                    >
                </div>
            </div>
            <div class="gt-slider-inner">
                <div class="gt-img-holder-abs gt-shadow-70">
                    <img
                            class="lazy"
                            src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
                            data-src= "../assets/images/gaudi_slider/casa-botines-02.png"
                            alt="alt"
                    >
                </div>
            </div>
            <div class="gt-slider-inner">
                <div class="gt-img-holder-abs gt-shadow-70">
                    <img
                            class="lazy"
                            src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
                            data-src= "../assets/images/gaudi_slider/casa-botines-02.png"
                            alt="alt"
                    >
                </div>
            </div>
            <div class="gt-slider-inner">
                <div class="gt-img-holder-abs gt-shadow-70">
                    <img
                            class="lazy"
                            src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
                            data-src= "../assets/images/gaudi_slider/casa-botines-02.png"
                            alt="alt"
                    >
                </div>
            </div>
            <div class="gt-slider-inner">
                <div class="gt-img-holder-abs gt-shadow-70">
                    <img
                            class="lazy"
                            src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
                            data-src= "../assets/images/gaudi_slider/casa-botines-02.png"
                            alt="alt"
                    >
                </div>
            </div>
            <div class="gt-slider-inner">
                <div class="gt-img-holder-abs gt-shadow-70">
                    <img
                            class="lazy"
                            src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
                            data-src= "../assets/images/gaudi_slider/casa-botines-02.png"
                            alt="alt"
                    >
                </div>
            </div>
            <div class="gt-slider-inner">
                <div class="gt-img-holder-abs gt-shadow-70">
                    <img
                            class="lazy"
                            src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
                            data-src= "../assets/images/gaudi_slider/casa-botines-02.png"
                            alt="alt"
                    >
                </div>
            </div>
            <div class="gt-slider-inner">
                <div class="gt-img-holder-abs gt-shadow-70">
                    <img
                            class="lazy"
                            src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
                            data-src= "../assets/images/gaudi_slider/casa-botines-02.png"
                            alt="alt"
                    >
                </div>
            </div>
            <div class="gt-slider-inner">
                <div class="gt-img-holder-abs gt-shadow-70">
                    <img
                            class="lazy"
                            src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
                            data-src= "../assets/images/gaudi_slider/casa-botines-02.png"
                            alt="alt"
                    >
                </div>
            </div>
            <div class="gt-slider-inner">
                <div class="gt-img-holder-abs gt-shadow-70">
                    <img
                            class="lazy"
                            src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
                            data-src= "../assets/images/gaudi_slider/casa-botines-02.png"
                            alt="alt"
                    >
                </div>
            </div>
            <div class="gt-slider-inner">
                <div class="gt-img-holder-abs gt-shadow-70">
                    <img
                            class="lazy"
                            src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
                            data-src= "../assets/images/gaudi_slider/casa-botines-02.png"
                            alt="alt"
                    >
                </div>
            </div>
        </div>
        <div class="gt-shadow-slider-text-shadow"></div>
    </div>
</div>
