<a href="/new-single-page.html" class="gt-news gt-news-image">

    <div class="gt-img-holder-abs gt-shadow-100">
        <img
                class="lazy"
                src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
                data-src= "../assets/images/news/news-vert-1.png"
                alt="alt"
        >
    </div>
    <div class="gt-news-image-text">
        <p class="gt-news-image-text-title">Страна</p>
        <p class="gt-news-image-text-header">Просто заголовок</p>
    </div>
</a>
<!--todo не всегда коррректно отрабатывает скрипт ширину-->