<a href="./new-single-page.html" class="gt-news-prev gt-news-prev-big">
    <div class="gt-news-prev-img">
        <div class="gt-img-holder-abs">
            <img
                    class="lazy"
                    src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
                    data-src= "../assets/images/paris/wonder-pic.png"
                    alt=""
            >
        </div>
    </div>

    <div class="gt-news-prev-text">
        <p>Заголовок семнадцатой статьи в две строки три, четыре, пять или больше чем есть с блоке выше</p>
    </div>
    <div class="gt-news-link">
        <span>31.04.2017</span>
        <i class="fa fa-eye"></i>
        <span>215</span>
    </div>
</a>