<a href="./new-single-page.html" class="gt-news-aside gt-news-aside-tall">
    <div class="gt-news-aside-img">
        <div class="gt-img-holder-abs">
            <img
                    class="lazy"
                    src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
                    data-src= "../assets/images/china_slider/guilin-11.png"
                    alt="alt"

            >
        </div>
    </div>
    <div class="gt-news-small-text">
        <div class="gt-news-link">
            <span>31.04.2017</span>
            <i class="fa fa-eye"></i>
            <span>215</span>
        </div>
        <div class="gt-news-header">
            <p>Заголовок статьи статьи статьи статьи статьи статьи статьи статьи статьи статьи статьи
                статьи статьи статьи статьи</p>
        </div>
    </div>
</a>

