<a href="/new-single-page.html" class="gt-news gt-news-big">
    <div class="gt-img-holder-abs gt-shadow-100">
        <img
                class="lazy"
                src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
                data-src= "../assets/images/news/news-1.png"
                alt="alt"
        >
    </div>

    <div class="gt-news-big-text gt-news-big-text-bottom">
        <div class="gt-news-link">
            <p>Публикации</p>
            <i class="fa fa-eye"></i>
            <span>215</span>
        </div>
        <div class="gt-news-header">
            <p>Заголовок статьи</p>
        </div>
    </div>

</a>
