<a href="./new-single-page.html" class="gt-news gt-news-small">
    <div class="gt-news-small-img">
        <div class="gt-img-holder-abs">
            <img
                    class="lazy"
                    src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
                    data-src= "../assets/images/news/news-2.png"
                    alt="alt"
            >
        </div>
    </div>
    <div class="gt-news-small-text">
        <div class="gt-news-link">
            <span>31.04.2017</span>
            <i class="fa fa-eye"></i>
            <span>215</span>
        </div>
        <p  class="gt-news-link"> <b class="gt-a-news">Новости</b></p>
        <div class="gt-news-header">
            <p>Заголовок статьи статьи статьи статьи статьи</p>
        </div>

        <div class="gt-news-small-text-main  js-news-cut">
            <p> Обрезает по высоте блока.</p>
            <p> Пару строк. Отлично подходит три строки но лучше.
            </p>
            <p> Краткое описание статьи. Пару строк. Отлично подходит три строки но лучше не
                рвать предложение.
            </p>
            <p> Краткое описание статьи. Пару строк. Отлично подходит три строки но лучше не
                рвать предложение.
            </p>
            <p> Краткое описание статьи. Пару строк. Отлично подходит три строки но лучше не
                рвать предложение.
            </p>
        </div>
    </div>
</a>

