<a href="./new-single-page.html" class="gt-news-prev">
    <div class="gt-news-prev-img">
        <div class="gt-img-holder-abs">
            <img
                    class="lazy"
                    src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
                    data-src= "../assets/images/news/prew-news-1.png"
                    alt=""
            >
        </div>
    </div>

    <div class="gt-news-prev-text">
        <p>Заголовок короткой статьи в три строки плюс дата</p>
        <p class="gt-news-prev-date">28.07.2007</p>
    </div>
</a>