@import "../../stylesheets/_palette";
@import "../../stylesheets/_variables";
@import "../../stylesheets/_mixin";

.gt-action-menu {
  flex-direction: row;
  svg {

    width: 50%;
    height: auto;
  }
  path {
    fill: @blue;
    .gt-transition();
  }
  .gt-icon-holder {
    justify-content: center;
    align-items: center;

    &:hover {
      path {
        fill: @white;
      }
    }
  }
  &-inner {
    width: 33.3%;
    flex-direction: row;
    position: relative;
    min-height: 90px;
    padding: 60px 0 60px 100px;
  }

  &-main-page {
    height: 400px;
    background: url("../images/main-bg-1.png") no-repeat 0 0;
    background-size: contain;
  }
  .gt-icon-holder {
    position: absolute;
    left: 0;
    top: 60px;
    height: 90px;
    width: 90px;
    border: 1px solid @btn-border;
    background-color: @white;
    background-repeat: no-repeat;
    border-radius: 50%;
    justify-content: center;
    align-items: center;

    .gt-transition();
    span {
      position: absolute;
      top: .25em;
      right: -.5em;
      font-weight: @normal;
      color: @white;
      font-size: 14px;
      width: 25px;
      height: 25px;
      line-height: 18px;
      background: @blue;
      border-radius: 50%;
      text-align: center;
      padding-top: .35em;
      .gt-transition();
      box-shadow: 1px 0 5px rgba(0, 0, 0, 0);
    }
    &:hover {
      border-color: @blue;
      background-color: @blue;
      span {
        color: @blue;
        background: @white;
        box-shadow: 1px 0 5px rgba(0, 0, 0, .25);
      }
      path {
        fill: @white;
      }
    }
  }
  .gt-text-holder {
    flex-direction: column;
    padding: 0 15px;
    width: 100%;
    p {
      &:first-of-type {
        color: @grey-dark;
        font-size: 16px;
        font-weight: @bold;
      }
      &.gt-text-inner {
        font-size: 14px;
        font-weight: @normal;
        line-height: 1.5;
        padding-top: 30px;
      }
    }
  }

  &-column {
    width: 50%;
    flex-direction: row;
    justify-content: space-between;

    p {
      line-height: 1.8;
      padding-right: 20%;
      flex-shrink: 1;
    }
    &-inner {
      position: relative;
      padding-top: 120px;
      width: 33%;
      font-size: 14px;
      .gt-icon-holder {
        top: 0;
      }
      p {
        color: @black;
        padding-right: 15px;
      }
    }
  }
}

@media screen and (max-width: 1230px) {
  .gt-action-menu {
    flex-wrap: wrap;
    &-main-page {
      height: 350px;
    }
    &-column {
      width: 100%;
      p {
        font-size: 16px;
        padding-right: 0;
        margin-bottom: 30px;
      }
      &-inner {
        .gt-icon-holder {
          left: ~"calc(50% - 45px)";
        }
        p {
          justify-content: center;
          margin-left: 15px;
          margin-right: 15px;
          margin-bottom: 0 !important;
        }
      }
    }
    &-inner {
      padding-right: 30px;

    }

    .gt-text-holder {
      p {
        &.gt-text-inner {
          padding-top: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: 1023px) {
  .gt-action-menu {
    &-main-page {
      height: 290px;
      background-size: cover;
    }

    &-inner {
      height: auto;
      padding: 65px 0 0;
      justify-content: flex-start;

      &:nth-child(2) {
        justify-content: center;
      }
      &:last-of-type {
        justify-content: flex-end;
      }
    }
    .gt-icon-holder {
      position: relative;
      left: auto;
      top: auto;
      height: 140px;
      width: 140px;
      span {
        font-size: 18px;
        width: 35px;
        height: 35px;
        line-height: 27px;
      }
    }
    .gt-text-holder {
      display: none;
    }

    &-column {
      p {
        font-size: 16px;
        padding-right: 0;
        margin-bottom: 30px;
      }
      &-inner {
        padding-top: 165px;
        flex-direction: column;
        .gt-icon-holder {
          position: absolute;
          top: 0;
          left: ~"calc(50% - 70px)";
        }
        p {
          font-size: 14px;

          text-align: center;
        }
      }
    }
  }
}



@media screen and (max-width: 767px) {
  .gt-action-menu {
    &-main-page {
      height: 320px;
    }
  }
}

@media screen and (max-width: 666px) {
  .gt-action-menu {
    &-main-page {
      height: 330px;
    }
    &-two-columns {
      height: auto;
    }
    &-inner {
      padding-top: 45px;
    }
    .gt-icon-holder {
      height: 110px;
      width: 110px;
      span {
        font-size: 15px;
        width: 28px;
        height: 28px;
        line-height: 20px;
      }
    }
    &-column {
      p {
        font-size: 15px;
        margin-bottom: 1em;
      }
      &-inner {
        padding-top: 125px;
        .gt-icon-holder {
          left: ~"calc(50% - 55px)";
        }
        p {
          font-size: 13px;
          margin-left: .5em;
          margin-right: .5em;
        }
      }
    }
  }
}

@media screen and (max-width: 479px) {
  .gt-action-menu {
    padding-left: 15px;
    padding-right: 15px;
    &-main-page {
      height: 350px;
    }
    &-two-columns {
      height: auto;
    }
    &-inner {
      padding-top: 30px;
    }
    .gt-icon-holder {
      height: 65px;
      width: 65px;
      span {
        font-size: 12px;
        width: 20px;
        height: 20px;
        line-height: 15px;
      }
    }
    &-column {
      flex-direction: column;
      &-inner {
        position: static;
        flex-direction: row;
        padding-top: 15px;
        align-items: center;
        width: 100%;
        font-size: 14px;
        .gt-icon-holder {
          position: static !important;
        }
        p {
          text-align: left;
          margin-left: 15px;
        }
      }

    }
  }
}

