<div class="gt-one-new container gt-margin">
        <div class="gt-one-new-text">
            <h2>
                Париж
            </h2>
            <p>
                Столица высокой моды располагает к романтике и может поведать миллионы любовных историй
            </p>
            <a class="gt-a-news gt-a-news-animation" href="/city-paris.html">ЧИТАТЬ ДАЛЬШЕ</a>
        </div>
        <div class="gt-one-new-img">
            <div class="gt-img-holder-abs">
                <img
                        class="lazy"
                        src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
                        data-src= "../assets/images/link-block-img.png"
                        alt="ALT"
                >
            </div>
        </div>
</div>

