<div class="gt-view-cards-header container">
    <div class="gt-view-cards-header-top">
        <h2 class="gt-black">Популярные достопримечательности Парижа</h2>
        <a href=".#"><span class="gt-a-news">Смотреть все</span></a>
    </div>
    <p class="gt-black">
        Каждая страна, любая нация определяеться особенностями своих традиций и обычаев, вызывая присущие только ей
        ассоциации. Франция обладает элегантность, иысканностью, стилем, шармом. Страна имеет неизменные традиции,
        которые должны держаться со сторогостью в рамках этикета. Каждая страна, любая нация определяеться особенностями
        своих традиций и обычаев, вызывая присущие только ей ассоциации. Франция обладает элегантность, иысканностью,
        стилем, шармом. Страна имеет неизменные традиции, которые должны держаться со сторогостью в рамках этикета. </p>

</div>