<div class="gt-slider-inner gt-view-cards-inner">
    <div class="gt-slider-inner-outer gt-view-cards-inner-outer">
        <div class="gt-slider-inner-img  gt-view-cards-inner-img">
            <div class="gt-img-holder-abs">
                <img
                        class="lazy"
                        src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
                        data-src="../assets/images/country/view-card.png"
                        alt=""
                >
            </div>
        </div>
        <div class="gt-view-cards-text">
            <!--<div class="gt-view-cards-rating">-->
                <!--<span>200</span>-->
            <!--</div>-->
            <div class="gt-view-cards-text-left">
                <a href="/showplace.html">Эйфелева башня в две строки</a>
            </div>
            <div class="gt-view-cards-text-right">
                <p>Босния и Герцеговина</p>
                <p class="gt-view-cards-counter">Еще <span> +7</span>
                </p>
            </div>
            <div class="gt-view-cards-marks">
                <i class="gt-view-cards-marks-seven"></i>
                <i class="gt-view-cards-marks-top"></i>
                <i class="gt-view-cards-marks-unesco"></i>
                <i class="gt-view-cards-marks-guinness"></i>
            </div>
        </div>
    </div>
    <div class="gt-view-cards-icons">
        <div class="gt-view-cards-icons-item">
            <div class="gt-view-cards-icons-visit"></div>
        </div>
        <div class="gt-view-cards-icons-item">
            <div class="gt-view-cards-icons-pin-plus"></div>
        </div>
        <div class="gt-view-cards-icons-item">
            <div class="gt-view-cards-icons-share">
            <div class="gt-view-cards-icons-share-inner">
                <a href=".#"><i class="fab fa-facebook-f"></i></a>
                <a href=".#"><i class="fab fa-twitter"></i></a>
                <a href=".#"><i class="fab fa-google-plus-g"></i></a>
                <a href=".#"><i class="fab fa-pinterest-p"></i></a>
            </div>
            </div>
        </div>
        <div class="gt-view-cards-icons-item">
            <div class="gt-view-cards-icons-bookmarks"></div>
        </div>

    </div>
</div>