<!--<div class="gt-view-cards gt-margin">-->
    <!--<div class="container gt-margin">-->
        <!--<div class="gt-text-block gt-margin">-->
            <!--<h2 class="gt-black">Топ 100 достопримечательностей</h2>-->
            <!--<p class="gt-black">-->
                <!--Рейтинг составлен по результатам голосования посетителей сайта-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="container container-no-padd gt-margin">-->
        <!--<div class="gt-slider gt-view-cards-slider  gt-slider-tram gt-slider-has-arrow gt-slider-no-padding" data-count="4">-->
            <!--<div class="gt-slider-container">-->
                <!--//= ./_view-card-horisontal-rating-->
                <!--//= ./_view-card-horisontal-rating-->
                <!--//= ./_view-card-horisontal-rating-->
                <!--//= ./_view-card-horisontal-rating-->
                <!--//= ./_view-card-horisontal-rating-->
                <!--//= ./_view-card-horisontal-rating-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="container container-no-padd gt-margin">-->
        <!--<div class="gt-slider gt-view-cards-slider  gt-slider-tram gt-slider-has-arrow gt-slider-no-padding" data-count="4">-->
            <!--<div class="gt-slider-container">-->
                <!--//= ./_view-card-horisontal-->
                <!--//= ./_view-card-horisontal-->
                <!--//= ./_view-card-horisontal-->
                <!--//= ./_view-card-horisontal-->
                <!--//= ./_view-card-horisontal-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="container container-no-padd gt-margin">-->
        <!--<div class="gt-slider gt-view-cards-slider  gt-slider-tram gt-slider-has-arrow gt-slider-no-padding" data-count="4">-->
            <!--<div class="gt-slider-container">-->
                <!--//= ./_view-card-horisontal-rating-->
                <!--//= ./_view-card-horisontal-rating-->
                <!--//= ./_view-card-horisontal-rating-->
                <!--//= ./_view-card-horisontal-rating-->
                <!--//= ./_view-card-horisontal-rating-->
                <!--//= ./_view-card-horisontal-rating-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
