<div class="container container-no-padd gt-margin">
    <div class="gt-view-cards-header">
        <div class="gt-view-cards-header-top container">
            <h2 class="gt-black">Популярные достопримечательности Парижа</h2>
            <a href=".#"><span class="gt-a-news">Смотреть все</span></a>
        </div>
    </div>

    <div class="gt-slider gt-view-cards-slider gt-slider-tram gt-slider-has-arrow gt-slider-no-padding"
         data-count="4">
        <div class="gt-slider-container">
            //= ./_view-card
            //= ./_view-card
            //= ./_view-card
            //= ./_view-card
            //= ./_view-card
            //= ./_view-card
        </div>
    </div>
</div>