<div
        class="gt-top gt-bgs-holder gt-shadow-70-reverse-100px"
        data-src-desctop="/images/bgs/paris-top-1920.png"
        data-src-tablet="/images/bgs/paris-top-1024.png"
        data-src-phone="/images/bgs/paris-top-600.png"
>
<div class="gt-shadow gt-shadow-70-reverse-100px-both"></div>

    <div class="container">
        <div class="gt-top-breadcrumbs">
            //= ../../breadcrumbs/code.html

        </div>
        <div class="gt-top-inner gt-top-inner-large">
            <h1>Туристический сезон в Париже</h1>
        </div>
    </div>
</div>



