<div
        class="gt-top gt-bgs-holder gt-shadow-70-reverse-100px"
        data-src-desctop="france-top-1920.png"
        data-src-tablet="france-top-1024.png"
        data-src-phone="france-top-600.png"
>


    <div class="container">
        <div class="gt-top-breadcrumbs">
            //= ../../breadcrumbs/code.html

        </div>

        <div class="gt-top-inner gt-top-inner-large">
            <h1 class="gt-top-inner-underline">Франция</h1>
            <p>Страна изысканного вкуса и роскоши,
                покорившая миллионы сердец
            </p>

        </div>
    </div>
</div>



