<div
        class="gt-top gt-bgs-holder gt-shadow-70-reverse-100px"
        data-src-desctop="paris-top-1920.png"
        data-src-tablet="paris-top-1024.png"
        data-src-phone="paris-top-600.png"
>
<div class="container">
        <div class="gt-top-breadcrumbs">
            //= ../../breadcrumbs/code
        </div>


        <div class="gt-top-inner gt-top-inner-large">
            <h1 class="gt-top-inner-underline">Париж</h1>
            <p>Столица высокой моды располагает к
                романтике и может поведать
                миллионы любовных историй</p>

        </div>

        //= ../../top_cards/showplace-page
    </div>
</div>



