<div
        class="gt-top gt-bgs-holder gt-shadow-70-reverse-100px"
        data-src-desctop="paris-top-1920.png"
        data-src-tablet="paris-top-1024.png"
        data-src-phone="paris-top-600.png"
>
    <div class="container">
        <div class="gt-top-breadcrumbs">
            //= ../../breadcrumbs/code
        </div>


        <div class="gt-top-inner">
            <h1>Туристические места для наблюдения за животными</h1>
            <div class="gt-top-inner-line"></div>

            <p>Некоторые регионы привлекают туристов своим историческим и культурным наследием, но существуют места, где
                можно получить эстетическое удовольствие от наблюдения за животными.</p>

        </div>

        //= ../../top_cards/showplace-page
    </div>
</div>



