<div class="gt-top gt-bgs-holder main-page-top"
     data-src-desctop="main-top-1920.png"
     data-src-tablet="main-top-1024.png"
     data-src-phone="main-top-600.png"

>
    <div class="container">
        <div class="gt-top-breadcrumbs"></div>
        <div class="gt-top-inner gt-top-inner-large">
            <h1>Истинное назначение путешествия – это не место на карте, а новый взгляд на жизнь
            </h1>
            <div class="gt-top-inner-line"></div>
            <p>Генри Миллер</p>
        </div>
    </div>
</div>



