<div class="gt-currency-card-wrapper gt-margin">
    <div class="container container-no-padd">
         <div class="gt-currency-card">
            <a href="/paris-articles.html#gt-article-0" class="gt-currency-card-inner">
                <p class="gt-black">Валюта и расчеты</p>
                <p>Предостовляет возможность неограниченного посещения более 60 музеев в Париже и окрестностях.</p>
            </a>
        </div>
        <div class="gt-currency-card">
            <a href="/paris-articles.html#gt-article-1" class="gt-currency-card-inner">
                <p class="gt-black">Валюта и расчеты</p>
                <p>Предостовляет возможность неограниченного посещения более 60 музеев в Париже и окрестностях.</p>
            </a>
        </div>
        <div class="gt-currency-card">
            <a href="/paris-articles.html#gt-article-2" class="gt-currency-card-inner">
                <p class="gt-black">Валюта и расчеты</p>
                <p>Предостовляет возможность неограниченного посещения более 60 музеев в Париже и окрестностях.</p>
            </a>
        </div>
        <div class="gt-currency-card">
            <a href="/paris-articles.html#gt-article-3" class="gt-currency-card-inner">
                <p class="gt-black">Валюта и расчеты</p>
                <p>Предостовляет возможность неограниченного посещения более 60 музеев в Париже и окрестностях.</p>
            </a>
        </div>
        <div class="gt-currency-card">
            <a href="/paris-articles.html#gt-article-4" class="gt-currency-card-inner">
                <p class="gt-black">Валюта и расчеты</p>
                <p>Предостовляет возможность неограниченного посещения более 60 музеев в Париже и окрестностях.</p>
            </a>
        </div>
        <div class="gt-currency-card">
            <a href="/paris-articles.html#gt-article-5" class="gt-currency-card-inner">
                <p class="gt-black">Валюта и расчеты</p>
                <p>Предостовляет возможность неограниченного посещения более 60 музеев в Париже и окрестностях.</p>
            </a>
        </div>
    </div>
</div>
