<!--src/templates/news_menu/news-menu.html START-->
<div class="gt-menu-news-wrapper container gt-margin">
<span class = "gt-menu-news-arrow-holder gt-non-touch"></span>
<span id = "gt-menu-news-left" class = "gt-menu-news-arrow left gt-non-touch">
</span>
    <ul class="gt-menu-news">
        <li>
            <a href=".#">Все новости</a>
        </li>
        <li class="gt-active">
            <a href=".#">Акции</a>
        </li>
        <li>
            <a href=".#">Праздники и фестивали</a>
        </li>
        <li>
            <a href=".#">Экскурсии</a>
        </li>
        <li>
            <a href=".#">Отдых и развлечение</a>
        </li>
        <li>
            <a href=".#">Новые технологии</a>
        </li>
        <li>
            <a href=".#">Происшествия</a>
        </li>
        <li>
            <a href=".#">Другое</a>
        </li>
    </ul>
<span class="gt-menu-news-arrow-holder gt-non-touch"></span>
<span id="gt-menu-news-right" class="gt-menu-news-arrow right gt-non-touch">
</span>
</div>

<!--src/templates/news_menu/news-menu.html END-->