<div class="gt-news-menu-wrapper container gt-margin">
    <ul class="gt-menu-news">
        <li><a href=".#">Все новости</a></li>
        <li class="gt-active"><a href=".#">Акции</a></li>
        <li><a href=".#">Праздники и фестивали</a></li>
        <li><a href=".#">Экскурсии</a></li>
        <li><a href=".#">Отдых и развлечение</a></li>
        <li><a href=".#">Новые технологии</a></li>
        <li><a href=".#">Происшествия</a></li>
        <li><a href=".#">Другое</a></li>
    </ul>
</div>
                                                              