<div class="gt-slider gt-slider-fade gt-slider-has-arrow gt-slider-collection">
    <div class="gt-slider-container">
        <div class="gt-slider-inner">
            <div class="gt-img-holder-abs">
                <img
                        class="lazy"
                        src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
                        data-src= "../assets/images/_pages/disappear_slider/arizona-antelope-canyon-01.jpg"
                        alt="kkkk"
                >
            </div>
        </div>
        <div class="gt-slider-inner">
            <div class="gt-img-holder-abs">
                <img
                        class="lazy"
                        src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
                        data-src= "../assets/images/_pages/disappear_slider/arizona-barringer-crater-01.jpg"
                        alt="kkkk"
                >
            </div>
        </div>
        <div class="gt-slider-inner">
            <div class="gt-img-holder-abs">
                <img
                        class="lazy"
                        src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
                        data-src= "../assets/images/_pages/disappear_slider/arizona-grand-canyon-03.jpg"
                        alt="kkkk"
                >

            </div>
        </div>
        <div class="gt-slider-inner">
            <div class="gt-img-holder-abs">
                <img
                        class="lazy"
                        src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
                        data-src= "../assets/images/_pages/disappear_slider/arizona-havasu-falls-01.jpg"
                        alt="kkkk"
                >

            </div>
        </div>
        <div class="gt-slider-inner">
            <div class="gt-img-holder-abs">
                <img
                        class="lazy"
                        src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
                        data-src= "../assets/images/_pages/disappear_slider/arizona-horseshoe-bend-01.jpg"
                        alt="kkkk"
                >

            </div>
        </div>
        <div class="gt-slider-inner">
            <div class="gt-img-holder-abs">
                <img
                        class="lazy"
                        src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
                        data-src= "../assets/images/_pages/disappear_slider/arizona-monument-valley-01.jpg"
                        alt="kkkk"
                >

            </div>
        </div>
        <div class="gt-slider-inner">
            <div class="gt-img-holder-abs">
                <img
                        class="lazy"
                        src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
                        data-src= "../assets/images/_pages/disappear_slider/arizona-powel-lake-01.jpg"
                        alt="kkkk"
                >

            </div>
        </div>
        <div class="gt-slider-inner">
            <div class="gt-img-holder-abs">
                <img
                        class="lazy"
                        src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
                        data-src= "../assets/images/_pages/disappear_slider/arizona-saguaro-08.jpg"
                        alt="kkkk"
                >

            </div>
        </div>
        <div class="gt-slider-inner">
            <div class="gt-img-holder-abs">
                <img
                        class="lazy"
                        src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
                        data-src= "../assets/images/_pages/disappear_slider/arizona-sedona-01.jpg"
                        alt="kkkk"
                >

            </div>
        </div>
        <div class="gt-slider-inner">
            <div class="gt-img-holder-abs">
                <img
                        class="lazy"
                        src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
                        data-src= "../assets/images/_pages/disappear_slider/arizona-wave-01.jpg"
                        alt="kkkk"
                >

            </div>
        </div>


    </div>


</div>


